httmock
wooper
PyRTF3
xhtml2pdf
werkzeug>=0.9.4,<=0.11.15
urllib3<1.26
-e .
git+git://github.com/superdesk/superdesk-planning.git@1.10#egg=superdesk-planning
git+git://github.com/superdesk/superdesk-core.git@v1.33.7#egg=superdesk-core
