{% extends "print_layout.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<article>
    <pre>{{ item.slugline }}</pre>

    <h1 class="mt-4">{{ item.headline or item.name}}</h1>

    <h3 class="mt-4"><i class="icon--clock icon--gray mr-1"></i> {{ dateString }}</h3>

    {% if location and location != '' %}
        <h3 class="mt-4"><strong>{{ _('Where') }}:</strong> {{ location }}</h3>
    {% endif %}

    {% if map and map != '' %}
        <div class="mt-4 mb-4">
            <img src={{ map | safe }} >
        </div>
    {% endif %}

    {% for contact in contacts %}
        <h3 class="mt-3">
            <strong>{{ _('Contact') }}:</strong>
            {{ contact.name or contact.organisation }}
            {{ contact.phone }}
            {{ contact.mobile }}
            {{ contact.email }}
        </h3>
    {% endfor %}

    {% for link in links %}
        <h3>
            <strong>{{ _('Web') }}:</strong>
            <a href={{ link | safe }}>{{ link }}</a>
        </h3>
    {% endfor %}


    {%  for planning_item in item.get('planning_items', []) or [] %}

        <div class="container mt-4 pt-3 border-top">
            <div class="row lead">
                <h3>{{ planning_item.get('description_text') or planning_item.get('name') or '' }}</h3>
            </div>

            {% if is_admin and planning_item.get('ednote') %}
                <div class="row">
                    <strong>{{ _('Editorial Note') }}:</strong>
                    {{ planning_item.get('ednote') }}
                </div>
            {% endif %}

            {% if planning_item.get('coverages', []) %}
                <div class="row">
                    <div class="col-12">
                        <h5>{{ _('Coverages:') }}</h5>
                    </div>
                </div>

                    {% for coverage in planning_item.get('coverages', []) or [] %}
                        <div class="row mt-3">
                            <div class="col-6">
                                {{ _('Coverage Type') }}: {{ coverage.get('planning', {}).get('g2_content_type') }}
                            </div>
                            <div class="col-6">
                                {{ _('Due') }}: {{  coverage.get('planning', {}).get('scheduled') | datetime_long }}
                            </div>
                            <div class="col-6">
                                {{ _('Workflow Status') }}: {{ coverage.get('workflow_status') }}
                            </div>
                            <div class="col-6">
                                {{ _('Coverage Status') }}: {{ coverage.get('news_coverage_status', {}).get('name') }}
                            </div>

                            {% if is_admin %}
                                <div class="col-6">
                                    {{ _('Internal Note') }}: {{ coverage.get('planning', {}).get('internal_note', '') or '' }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</article>
{% endblock %}
