{% extends "print_layout.html" %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<article>
    <pre>{{ item.slugline }}</pre>

    <h1>{{ item.headline or item.name}}</h1>

    <h3>{{ _('On:') }} {{ item.dates.start | datetime_long }}</h3>


    <div class="row">
        <div class="col-9">
            <div class="lead">
                {{ item.definition_long or item.abstract or '' }}
            </div>
            <div>
                <h3>{{ _('Coverages:') }}</h3>
                <dl>
                    {% for coverage in item.coverages %}
                      <dt>{{ _('On') }}</dt>
                      <dd>{{ coverage.scheduled | datetime_long }}</dd>
                      <dt>{{ _('Coverage Type') }}</dt>
                      <dd>{{ coverage.coverage_type }}</dd>
                        <dt>{{ _('Workflow Status') }}</dt>
                      <dd>{{ coverage.workflow_status }}</dd>
                        <dt>{{ _('Coverage Status') }}</dt>
                      <dd>{{ coverage.coverage_status }}</dd>

                    {% endfor %}
                </dl>
            </div>
        </div>
        <div class="col">
            <h3>{{ _('Metadata') }}</h3>
            <dl>
                {% if item.subject %}
                <dt>{{ _('Category') }}</dt>
                <dd>{{ item.subject|join(', ', attribute='name')}}</dd>
                {% endif %}
                {% if item.genre %}
                <dt>{{ _('Content Type') }}</dt>
                <dd>{{ item.genre|join(', ', attribute='name')}}</dd>
                {% endif %}
                {% if item.place %}
                <dt>{{ _('Place') }}</dt>
                <dd>{{ item.place|join(', ', attribute='name')}}</dd>
                {% endif %}

            </dl>
        </div>
    </div>
</article>
{% endblock %}
