{% extends "layout.html" %}

{% block title %}{{ gettext('Contact Us/Nous contacter') }}{% endblock %}


{% block content %}
    <div class="content">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <h1 class="mb-4">Contact Us/Nous contacter</h1>
					
                    <p class="mb-3">If you have any questions about the Local Journalism Initiative program, please contact <a href="mailto:lji@newsmediacanada.ca">lji@newsmediacanada.ca</a>.</p>
                    <p class="mb-5">Si vous avez des questions sur le programme Initiative de journalisme local, veuillez nous contacter à <a href="mailto:lji@newsmediacanada.ca">lji@newsmediacanada.ca</a>.</p>

					<p class="mb-5"><strong>News Media Canada</strong><br />
                    37 Front Street East, Suite 200<br />
                    Toronto ON M5E 1B3<br />
                    416-923-3567<br />
					1-877-305-2262</p>
					
                    <h3 class="mb-4">Personnel</h3>
                    <p class="mb-4"><strong>Christian Dognon</strong>,<br />
					Program Officer/agent de programme, LJI-IJL<br />
                    <a href="mailto:cdognon@newsmediacanada.ca">cdognon@newsmediacanada.ca</a><br />
                    416-923-3567 ext. 3327</p>
                    <p class="mb-5"><strong>Tina Ongkeko</strong>,<br />
					Director/directeur, LJI-IJL<br />
                    <a href="mailto:tongkeko@newsmediacanada.ca">tongkeko@newsmediacanada.ca</a><br />
                    416-923-3567 ext. 3325</p>                       
	                <hr>                    
                    <p class="mb-5">The LJI publishing system is operated and supervised by <strong>The Canadian Press</strong>. If you are an LJI grant recipient or publisher using LJI content and have questions about  the day-to-day mechanics of the initiative, please contact <a href="mailto:LJI-IJL@thecanadianpress.com">LJI-IJL@thecanadianpress.com</a>.</p>
                    <p class="mb-5">Le système de publication IJL est exploité et supervisé par <strong>La Presse Canadienne</strong>. Si vous êtes le bénéficiaire d'une subvention de l’IJL, un éditeur qui utilise du contenu de l’IJL, ou, si vous avez des questions sur le fonctionnement de l'initiative, veuillez contacter <a href="mailto:LJI-IJL@thecanadianpress.com">LJI-IJL@thecanadianpress.com</a>.</p>
                    
                    <h3 class="mb-4">Personnel</h3>
                    <p class="mb-4"><strong>Amy Logan</strong>,<br />
					Supervising Editor/superviseur de l'édition, LJI-IJL<br />
                    <a href="mailto:amy.logan@thecanadianpress.com">amy.logan@thecanadianpress.com</a><br />
                    416-507-2161</p>
                    <p class="mb-4"><strong>Gerry Arnold</strong>,<br />
					Executive Editor/exécutif éditeur, The Canadian Press/La Presse Canadienne<br />
                    <a href="mailto:gerry.arnold@thecanadianpress.com">gerry.arnold@thecanadianpress.com</a></span><br />
                    416-507-2156</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
