{% extends "layout.html" %}

{% block title %}{{ gettext('Copyright') }}{% endblock %}


{% block content %}
    <div class="content">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <h1 class="mb-4">Contact Us</h1>
                    <p class="mb-5">If you have any questions about the Local Journalism Initiative, please contact us at <a href="mailto:lji@newsmediacanada.ca">lji@newsmediacanada.ca</a>.</p>
                    <p class="mb-5"><strong>News Media Canada</strong><br />
                    37 Front Street East, Suite 200<br />
                    Toronto ON M5E 1B3<br />
                    Email: <a href="mailto:lji@newsmediacanada.ca">lji@newsmediacanada.ca</a><br />
                    Telephone: 416-923-3567 or toll-free 1-877-305-2262</p>
                    <h3 class="mb-4">Personnel</h3>
                    <p class="mb-4"><strong>Christian Dognon</strong>, Program Officer, Local Journalism Initiative<br />
                    <a href="mailto:cdognon@newsmediacanada.ca">cdognon@newsmediacanada.ca</a><br />
                    416-923-3567 ext. 3327</p>
                    <p class="mb-4"><strong>Tina Ongkeko</strong>, Director, Local Journalism Initiative<br />
                    <a href="mailto:tongkeko@newsmediacanada.ca">tongkeko@newsmediacanada.ca</a><br />
                    416-923-3567 ext. 3325</p>
                    <p class="mb-4"><strong>John Hinds</strong>, President and Chief Executive Officer<br />
                    <a href="mailto:jhinds@newsmediacanada.ca">jhinds@newsmediacanada.ca</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
