{% extends "layout.html" %}

{% block title %}{{ gettext('Copyright') }}{% endblock %}


{% block content %}
    <div class="content">
        <div class="container py-5">

            <h1 class="mb-5">Copyright</h1>

            <p>Note: The copyright in the information provided through AAP Newsroom is either owned by
                or licensed to Australian Associated Press Pty Ltd.</p>

            <p>You may not use this information for any purpose or in any medium or format unless you or your
                organisation have an appropriate agreement in place with Australian Associated Press Pty Ltd and
                strictly adhere to the terms of such agreement.</p>

            <p>For the avoidance of doubt, this information (including edited, abridged or rewritten versions of
                this information) is not to be republished, redistributed or redisseminated via the Internet or
                the World Wide Web without AAP's written permission. The above prohibitions include framing,
                linking, posting to newsgroups and any other form of copying.</p>

        </div>
    </div>
{% endblock %}
