{% extends "layout_wire.html" %}

{% block title %}Wire Design / Article list{% endblock %}

{% block contentHeader %}

<div class="multi-action-bar">
    <button class="btn btn-outline-secondary btn-responsive">Cancel</button>
    <button class="btn btn-outline-primary btn-responsive">Select all</button>
    <span class="multi-action-bar__count">2 Items selected</span>
    <div class="multi-action-bar__icons">
        <button class="icon-button">
            <i class="icon--bookmark-add"></i>
        </button>
        <button class="icon-button">
            <i class="icon--share"></i>
        </button>
        <button class="icon-button">
            <i class="icon--download"></i>
        </button>
    </div>
</div>

<nav class="content-bar navbar justify-content-start flex-nowrap flex-sm-wrap">
    <span class="content-bar__menu content-bar__menu--nav">
        <i class="icon--hamburger"></i>
        <i class="icon--close-thin icon--white"></i>
    </span>
    <div class="search form-inline">
        <span class="search__icon d-none d-sm-block">
            <i class="icon--search icon--gray-light"></i>
        </span>
        <div class="search__form input-group">
            <form class="form-inline">

                <input type="text" class="search__input form-control" placeholder="Search for..." aria-label="Search for...">
                <div class="search__form__buttons">
                    <span class="search__clear">
                        <img src="{{ url_for('static', filename = 'search_clear.png') }}" width="16" height="16"/>
                    </span>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>

            </form>
        </div>
    </div>

    <div class="content-bar__right">
        <div class="content-bar__sort btn-group d-none"><!-- sort bar hidden -->
            <div class="form-control-plaintext">
                Sort by:
            </div>
            <button type="button" class="content-bar__dropdown-btn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Date
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Date</button>
                <button class="dropdown-item" type="button">Author</button>
            </div>
        </div>

        <div class="d-flex align-items-center px-2 px-sm-3">
            <label for="news-only" class="mr-2">News only</label>
            <div class="react-toggle react-toggle--checked toggle-background"><div class="react-toggle-track"><div class="react-toggle-track-check"></div><div class="react-toggle-track-x"></div></div><div class="react-toggle-thumb"></div><input id="news-only" class="react-toggle-screenreader-only" type="checkbox" checked=""></div>
        </div>

        <div class="btn-group">
            <span class="content-bar__menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon--list-view"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right">
                <h6 class="dropdown-header">Change view</h6>
                <button class="dropdown-item" type="button"><i class="icon--list-view icon--gray"></i> Large list</button>
                <button class="dropdown-item" type="button"><i class="icon--list-view-compact icon--gray"></i> Compact list</button>
                <button class="dropdown-item" type="button"><i class="icon--grid-view icon--gray"></i> Grid</button>
            </div>
        </div>
    </div>

</nav>

{% endblock %}

{% block contentMain %}

  <div class="wire-column--3">

    <div class="wire-column__nav">
        <div class="wire-column__nav__items">
            <ul class="nav justify-content-center" id="pills-tab" role="tablist">
                <li class="wire-column__nav__tab nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-expanded="true">Topics</a>
                </li>
                <li class="wire-column__nav__tab nav-item">
                    <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-expanded="true">My Topics</a>
                </li>
                <li class="wire-column__nav__tab nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-expanded="true">Filters</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <a href="#" class="btn btn-outline-primary btn-block">All</a>
                    <a href="#" class="btn btn-outline-secondary btn-block">National</a>
                    <a href="#" class="btn btn-outline-secondary btn-block">Courts</a>
                    <a href="#" class="btn btn-outline-secondary btn-block">Entertainment</a>

                    <span class="wire-column__nav__divider"></span>

                    <a href="#" class="btn btn-outline-secondary btn-block">Followed topics <span class="wire-button__notif">8</span></a>

                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="wire-column__nav__group">
                        <h5>Category</h5>
                        <div>
                            <div class="custom-control custom-checkbox ui-dark">
                                <input type="checkbox" class="custom-control-input" value="on" id="Advisories">
                                <label class="custom-control-label" for="Advisories">Advisories</label>
                            </div>
                            </div>
                            <div>
                                <div class="custom-control custom-checkbox ui-dark">
                                    <input type="checkbox" class="custom-control-input" value="on" id="Agn">
                                    <label class="custom-control-label" for="Agn">Australian General News</label>
                                </div>
                            </div>
                            <div>
                                <div class="custom-control custom-checkbox ui-dark">
                                    <input type="checkbox" class="custom-control-input" value="on" id="mirw">
                                    <label class="custom-control-label" for="mirw">Medianet Investor Relations Wire</label>
                                </div>
                            </div>
                            <div>
                                <div class="custom-control custom-checkbox ui-dark">
                                    <input type="checkbox" class="custom-control-input" value="on" id="nzn">
                                    <label class="custom-control-label" for="nzn">NZN</label>
                                </div>
                            </div>
                        <a href="#" class="small">Show all</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wire-column__main">

        <div class="wire-column__main-header d-flex m-0 px-3 align-items-center flex-wrap flex-sm-nowrap">
            <div class="navbar-text search-results-info">
                <span class="search-results-info__num">147</span>
                <span class="search-results-info__text">search results for:<br><b>search</b></span>
            </div>

            <button class="btn btn-outline-primary btn-sm d-none d-sm-block">Save as topic</button>
            <button class="btn btn-outline-primary btn-sm d-block d-sm-none">S</button>
            <div class="d-flex align-items-center ml-auto">
                    <button type="button" class="button__reset-styles d-flex align-items-center ml-3">
                        <i class="icon--refresh icon--pink"></i>
                        <span class="badge badge-pill badge-info badge-secondary ml-2">21</span>
                    </button>
            </div>
        </div>

        <div class="wire-articles wire-articles--list">

            <article class="wire-articles__item-wrap col-12">
                <div class="wire-articles__item wire-articles__item--list">
                    <div class="wire-articles__item-text">
                        <h4 class="wire-articles__item-headline">
                            <div class="no-bindable-select wire-articles__item-select">
                                <label class="circle-checkbox">
                                    <input type="checkbox" class="css-checkbox" />
                                    <i></i>
                                </label>
                            </div>Battling Kings go into NBL playoff mode
                        </h4>
                        <div class="wire-articles__item__meta">
                            <div class="wire-articles__item__icons">
                                <span class="wire-articles__item__icon">
                                    <i class="icon--text icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__icon">
                                    <i class="icon--photo icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__divider">
                                </span>
                            </div>
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>Source: AAP // <span class="bold">345</span> words // 06.06.2017 14:25</span>
                            </div>
                        </div>
                        <div class="wire-articles__item__text">
                            <p>MANDURAH GREYHOUND QLD TAB DIVS FOR $1.00 Race 1: 6 Chicago Nights $3.10 $2.00 3 Barrio Monelli $3.50 4 Sunset Candy NTD. Q: $4.70. E: $11.70. T: $18.80. Scr: 5. Race 2: 3 Dynamic Gold $4.20 $1.10 2 Dahlia Monelli...</p>
                        </div>
                        <div class="no-bindable wire-articles__item__versions-btn">
                            Show previous versions (3)
                        </div>
                    </div>
                    <div class="wire-articles__item-image">
                        <span class="wire-articles__item-image-icon">
                            <i class="icon--resize icon--white"></i>
                        </span>
                        <figure>
                            <img src="{{ url_for('static', filename = 'list_image_800x600.jpg') }}"/>
                        </figure>
                    </div>
                    <div class="wire-articles__item-actions">

                        <div class="btn-group">
                            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-dropdown">
                                <i class="icon--more icon--gray-light"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="icon--download"></i> Download</button>
                                <button class="dropdown-item" type="button"><i class="icon--copy"></i> Copy</button>
                                <button class="dropdown-item" type="button"><i class="icon--print"></i> Print</button>
                                <button class="dropdown-item" type="button"><i class="icon--share"></i> Share</button>
                                <button class="dropdown-item" type="button"><i class="icon--bookmark-add"></i> Add to Bookmarks</button>
                            </div>
                        </div>                     

                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Share"><i class="icon--share"></i></button>
                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Add to Bookmarks"><i class="icon--bookmark-add"></i></button>
                    </div>
                </div>

            </article>
            
            <article class="wire-articles__item-wrap col-12">
                <div class="wire-articles__item wire-articles__item--list">
                    <div class="wire-articles__item-text">
                        <h4 class="wire-articles__item-headline">
                            <div class="no-bindable-select wire-articles__item-select">
                                <label class="circle-checkbox">
                                    <input type="checkbox" class="css-checkbox" />
                                    <i></i>
                                </label>
                            </div>Battling Kings go into NBL playoff mode
                        </h4>
                        <div class="wire-articles__item__meta">
                            <div class="wire-articles__item__icons">
                                <span class="wire-articles__item__icon">
                                    <i class="icon--text icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__icon">
                                    <i class="icon--photo icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__divider">
                                </span>
                            </div>
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>Source: AAP // <span class="bold">345</span> words // 06.06.2017 14:25</span>
                            </div>
                        </div>
                        <div class="wire-articles__item__text">
                            <p>MANDURAH GREYHOUND QLD TAB DIVS FOR $1.00 Race 1: 6 Chicago Nights $3.10 $2.00 3 Barrio Monelli $3.50 4 Sunset Candy NTD. Q: $4.70. E: $11.70. T: $18.80. Scr: 5. Race 2: 3 Dynamic Gold $4.20 $1.10 2 Dahlia Monelli...</p>
                        </div>
                        <div class="no-bindable wire-articles__item__versions-btn">
                            Show previous versions (3)
                        </div>
                    </div>
                    <div class="wire-articles__item-image">
                        <span class="wire-articles__item-image-icon">
                            <i class="icon--resize icon--white"></i>
                        </span>
                        <figure>
                            <img src="{{ url_for('static', filename = 'list_image_800x600.jpg') }}"/>
                        </figure>
                    </div>
                    <div class="wire-articles__item-actions">

                        <div class="btn-group">
                            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-dropdown">
                                <i class="icon--more icon--gray-light"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="icon--download"></i> Download</button>
                                <button class="dropdown-item" type="button"><i class="icon--copy"></i> Copy</button>
                                <button class="dropdown-item" type="button"><i class="icon--print"></i> Print</button>
                                <button class="dropdown-item" type="button"><i class="icon--share"></i> Share</button>
                                <button class="dropdown-item" type="button"><i class="icon--bookmark-add"></i> Add to Bookmarks</button>
                            </div>
                        </div>                     

                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Share"><i class="icon--share"></i></button>
                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Add to Bookmarks"><i class="icon--bookmark-add"></i></button>
                    </div>
                </div>

                <div class="wire-articles__versions">
                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:15</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:02</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                </div>
            </article>

            <article class="wire-articles__item-wrap col-12">
                <div class="wire-articles__item wire-articles__item--list wire-articles__item--visited">
                    <div class="wire-articles__item-text">
                        <h4 class="wire-articles__item-headline">
                            <div class="no-bindable-select wire-articles__item-select">
                                <label class="circle-checkbox">
                                    <input type="checkbox" class="css-checkbox" />
                                    <i></i>
                                </label>
                            </div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </h4>
                        <div class="wire-articles__item__meta">
                            <div class="wire-articles__item__icons">
                                <span class="wire-articles__item__icon">
                                    <i class="icon--text icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__icon">
                                    <i class="icon--photo icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__divider">
                                </span>
                            </div>
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>Source: AAP // <span class="bold">345</span> words // 06.06.2017 14:25</span>
                            </div>
                        </div>
                        <div class="wire-articles__item__text">
                            <p>AAP Rolling News Bulletin for Nov 22 at 0000 Nigeria Mosque (YOLA) A suicide bomber has killed at least 50 people at a mosque in northeastern Nigeria in the biggest mass killing this year in a region facing an insurgency...</p>
                        </div>
                        <div class="no-bindable wire-articles__item__versions-btn">
                            Show previous versions (3)
                        </div>
                    </div>
                    <div class="wire-articles__item-image">
                        <span class="wire-articles__item-image-icon">
                            <i class="icon--resize icon--white"></i>
                        </span>
                        <figure>
                            <img src="{{ url_for('static', filename = 'list_image_800x600.jpg') }}"/>
                        </figure>
                    </div>
                    <div class="wire-articles__item-actions">

                        <div class="btn-group">
                            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-dropdown">
                                <i class="icon--more icon--gray-light"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="icon--download"></i> Download</button>
                                <button class="dropdown-item" type="button"><i class="icon--copy"></i> Copy</button>
                                <button class="dropdown-item" type="button"><i class="icon--print"></i> Print</button>
                                <button class="dropdown-item" type="button"><i class="icon--share"></i> Share</button>
                                <button class="dropdown-item" type="button"><i class="icon--bookmark-add"></i> Add to Bookmarks</button>
                            </div>
                        </div>

                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Share"><i class="icon--share"></i></button>
                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Add to Bookmarks"><i class="icon--bookmark-add"></i></button>
                    </div>
                </div>

                <div class="wire-articles__versions">
                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:15</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:02</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                </div>
            </article>

            <article class="wire-articles__item-wrap col-12">
                <div class="wire-articles__item wire-articles__item--list wire-articles__item--visited">
                    <div class="wire-articles__item-text">
                        <h4 class="wire-articles__item-headline">
                            <div class="no-bindable-select wire-articles__item-select">
                                <label class="circle-checkbox">
                                    <input type="checkbox" class="css-checkbox" />
                                    <i></i>
                                </label>
                            </div>Many to follow US on Jerusalem: Netanyahu
                        </h4>
                        <div class="wire-articles__item__meta">
                            <div class="wire-articles__item__icons">
                                <span class="wire-articles__item__icon">
                                    <i class="icon--text icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__icon">
                                    <i class="icon--photo icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__divider">
                                </span>
                            </div>
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>Source: AAP // <span class="bold">345</span> words // 06.06.2017 14:25</span>
                            </div>
                        </div>
                        <div class="wire-articles__item__text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel dui metus. Sed tincidunt urna vitae imperdiet sollicitudin. Maecenas sit amet sem vitae arcu luctus vestibulum ut in dolor. Aliquam turpis ligula, ornare non justo vitae, consectetur iaculis leo. Mauris at sapien libero. Donec feugiat pellentesque mi vel dignissim. Morbi id nulla libero.</p>
                        </div>
                        <div class="no-bindable wire-articles__item__versions-btn">
                            Show previous versions (3)
                        </div>
                    </div>
                    
                    <div class="wire-articles__item-actions">

                        <div class="btn-group">
                            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-dropdown">
                                <i class="icon--more icon--gray-light"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="icon--download"></i> Download</button>
                                <button class="dropdown-item" type="button"><i class="icon--copy"></i> Copy</button>
                                <button class="dropdown-item" type="button"><i class="icon--print"></i> Print</button>
                                <button class="dropdown-item" type="button"><i class="icon--share"></i> Share</button>
                                <button class="dropdown-item" type="button"><i class="icon--bookmark-add"></i> Add to Bookmarks</button>
                            </div>
                        </div>

                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Share"><i class="icon--share"></i></button>
                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Add to Bookmarks"><i class="icon--bookmark-add"></i></button>
                    </div>
                </div>

                <div class="wire-articles__versions">
                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:15</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:02</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                </div>
            </article>

            <article class="wire-articles__item-wrap col-12">
                <div class="wire-articles__item wire-articles__item--list">
                    <div class="wire-articles__item-text">
                        <h4 class="wire-articles__item-headline">
                            <div class="no-bindable-select wire-articles__item-select">
                                <label class="circle-checkbox">
                                    <input type="checkbox" class="css-checkbox" />
                                    <i></i>
                                </label>
                            </div>Bellissimo! Naples pizza listed by UNESCO
                        </h4>
                        <div class="wire-articles__item__meta">
                            <div class="wire-articles__item__icons">
                                <span class="wire-articles__item__icon">
                                    <i class="icon--text icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__icon">
                                    <i class="icon--photo icon--gray-light"></i>
                                </span>
                                <span class="wire-articles__item__divider">
                                </span>
                            </div>
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>Source: AAP // <span class="bold">345</span> words // 06.06.2017 14:25</span>
                            </div>
                        </div>
                        <div class="wire-articles__item__text">
                            <p>Agencies Rome Pizza-making as practised in Naples has been added to the UNESCO Intangible Cultural Heritage of Humanity list, the Italian government says. "The art of the Neapolitan pizza-maker is (part of) UNESCO world heritage. Victory!" Italy's Agriculture Minister Maurizio...</p>
                        </div>
                        <div class="no-bindable wire-articles__item__versions-btn">
                            Show previous versions (3)
                        </div>
                    </div>
                    
                    <div class="wire-articles__item-actions">

                        <div class="btn-group">
                            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-dropdown">
                                <i class="icon--more icon--gray-light"></i>
                            </span>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i class="icon--download"></i> Download</button>
                                <button class="dropdown-item" type="button"><i class="icon--copy"></i> Copy</button>
                                <button class="dropdown-item" type="button"><i class="icon--print"></i> Print</button>
                                <button class="dropdown-item" type="button"><i class="icon--share"></i> Share</button>
                                <button class="dropdown-item" type="button"><i class="icon--bookmark-add"></i> Add to Bookmarks</button>
                            </div>
                        </div>

                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Share"><i class="icon--share"></i></button>
                        <button class="icon-button" type="button" data-toggle="tooltip" data-placement="left" title="Add to Bookmarks"><i class="icon--bookmark-add"></i></button>
                    </div>
                </div>

                <div class="wire-articles__versions">
                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:15</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                    <div class="wire-articles__versions__item">
                        <div class="wire-articles__versions__time">
                            <span>14:02</span>
                        </div>
                        <div class="wire-articles__versions__meta">
                            <div class="wire-articles__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                        <span class="wire-articles__item__divider"></span>
                        <div class="wire-articles__versions__name">
                            <h5 class="wire-articles__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                        </div>
                    </div>

                </div>
            </article>

        </div>
    </div>

    <div class="wire-column__preview">
      <div class="wire-column__preview__items">
        <div class="wire-column__preview__top-bar pt-2 pb-0">
            <div class="wire-column__preview__date">Created 11/17/2017, 11:21:20 AM</div>
            <button class="icon-button"><i class="icon--close-thin icon--gray"></i></button>
        </div>
        <div class="wire-column__preview__top-bar">
            <div>
                <button type="button" class="btn btn-outline-primary btn-responsive">Follow story</button>
            </div>
            <div class="wire-column__preview__buttons">
                <button class="icon-button"><i class="icon--text"></i></button>
                <button class="icon-button"><i class="icon--share"></i></button>
                <button class="icon-button"><i class="icon--print"></i></button>
                <button class="icon-button"><i class="icon--copy"></i></button>
                <button class="icon-button"><i class="icon--download"></i></button>
                <button class="icon-button"><i class="icon--bookmark"></i></button>
            </div>
        </div>
        
        <div class="wire-column__preview__content">
            <span class="wire-column__preview__slug">Trump-Comey</span>
            <h2 class="wire-column__preview__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
            <p class="wire-column__preview__author">By <span class="bold">Justin McCurry</span> in London</p>
            <figure class="wire-column__preview__image">
                <span class="wire-column__preview__image-icon">
                    <i class="icon--resize icon--white"></i>
                </span>
                <img src="{{ url_for('static', filename = 'list_image_800x600.jpg') }}"/>
                <figcaption class="wire-column__preview__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit</figcaption>
                <div class="wire-column__preview-image-link">
                    <span class="logo"></span>
                    <a href="#">available in external gallery</a>
                    <i class="svg-icon--external-link-blue"></i>
                </div>
            </figure>
            <div class="wire-articles__item__meta">
                <div class="wire-articles__item__icons">
                    <span class="wire-articles__item__icon">
                        <i class="icon--text icon--gray-light"></i>
                    </span>
                    <span class="wire-articles__item__icon">
                        <i class="icon--photo icon--gray-light"></i>
                    </span>
                    <span class="wire-articles__item__divider">
                    </span>
                </div>
                <div class="wire-articles__item__meta-info">
                    <span><span class="bold">345</span> words</span>
                    <span>Source: AAP // <span class="blue-text">3 previous versions</span></span>
                </div>
            </div>
            <p class="wire-column__preview__lead">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
            <div class="wire-column__preview__text">
                <p>Washington DC, US – Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
            </div>

            <div class="wire-column__preview__tags">
                <div class="column__preview__tags__column">
                    <span class="wire-column__preview__tags__headline">Category</span>
                    <a class="wire-column__preview__tag" href="#">International News</a>
                    <a class="wire-column__preview__tag" href="#">Politics</a>
                    <a class="wire-column__preview__tag" href="#">Something</a>
                </div>
                <div class="column__preview__tags__column">
                    <span class="wire-column__preview__tags__headline">Genre</span>
                    <a class="wire-column__preview__tag" href="#">Article (news)</a>
                </div>
            </div>

            <div class="wire-column__preview__versions">
                <span class="wire-column__preview__versions__box-headline">Previous versions</span>
                <div class="wire-column__preview__versions__item">
                    <div class="wire-column__preview__versions__wrap">
                        <div class="wire-column__preview__versions__time">
                            <span>14:15</span>
                        </div>
                        <div class="wire-column__preview__versions__meta">
                            <div class="wire-column__preview__item__meta-info">
                                <span class="bold">London</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                    </div>
                    <div class="wire-column__preview__versions__name">
                        <h5 class="wire-column__preview__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    </div>
                </div>
                <div class="wire-column__preview__versions__item">
                    <div class="wire-column__preview__versions__wrap">
                        <div class="wire-column__preview__versions__time">
                            <span>14:15</span>
                        </div>
                        <div class="wire-column__preview__versions__meta">
                            <div class="wire-column__preview__item__meta-info">
                                <span class="bold">London-Bridge-Atack</span>
                                <span>06.06.2017 // <span class="bold">345</span> words</span>
                            </div>
                        </div>
                    </div>
                    <div class="wire-column__preview__versions__name">
                        <h5 class="wire-column__preview__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>

  </div>


  
  {% endblock %}
  
  {% block script %}
  <style type="text/css">.react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
  }
  
  .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
  }
  </style>
  {% endblock %}
