{% extends "layout_settings.html" %}

{% block title %}Users Design{% endblock %}

{% block adminNavigation %}

<nav class="side-navigation">
    <ul>
        <li><a class="side-navigation__btn active" href="#">Companies Management</a></li>
        <li><a class="side-navigation__btn" href="#">User Management</a></li>
        <li><a class="side-navigation__btn" href="#">Navigation</a></li>
        <li><a class="side-navigation__btn" href="#">Products</a></li>        
        <li><a class="side-navigation__btn" href="#">System Settings</a></li>
    </ul>
</nav>

{% endblock %}

{% block contentHeader %}

<nav class="content-bar navbar content-bar--side-padding">
    <div class="search form-inline">
        <span class="search__icon">
            <i class="icon--search icon--gray-light"></i>
        </span>
        <div class="search__form input-group">
            <form class="form-inline">

                <input type="text" class="search__input form-control" placeholder="Search for..." aria-label="Search for...">
                <div class="search__form__buttons">
                    <span class="search__clear">
                        <img src="{{ url_for('static', filename = 'search_clear.png') }}" width="16" height="16"/>
                    </span>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>

            </form>
        </div>
    </div>
    <div class="content-bar__right">
        <button class="btn btn-outline-secondary btn-responsive">New company</button>
    </div>
</nav>

{% endblock %}
{% block contentMain %}
<div class="list-items-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Superdesk Subscriber Id</th>
                <th>Status</th>
                <th>Contact</th>
                <th>Telephone</th>
                <th>Country</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="name">ABC - keep it enabled!</td>
                <td>dd</td>
                <td>Enabled</td>
                <td></td>
                <td>dd</td>
                <td></td>
                <td>10/2/2017, 4:50:48 PM</td>
            </tr>
            <tr>
                <td class="name">Sourcefabric</td>
                <td>12345</td>
                <td>Enabled</td>
                <td>Holman</td>
                <td>555-7898</td>
                <td>other</td>
                <td>9/28/2017, 12:11:50 AM</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="list-item__preview">
    <div class="list-item__preview-header">
        <h3>ABC - keep it enabled!</h3>
        <button id="hide-sidebar" type="button" class="icon-button" data-dismiss="modal" aria-label="Close"><i class="icon--close-thin icon--gray"></i></button>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a name="company-details" class="nav-link active" href="#">Company</a>
        </li>
        <li class="nav-item">
            <a name="users" class="nav-link null" href="#">Users</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="company-details">
            <form>
                <div class="list-item__preview-form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <div class="field">
                            <input type="text" id="name" name="name" class="form-control" value="ABC - keep it enabled!">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sd_subscriber_id">Superdesk Subscriber Id</label>
                        <div class="field">
                            <input type="text" id="sd_subscriber_id" name="sd_subscriber_id" class="form-control" value="dd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telephone</label>
                        <div class="field">
                            <input type="text" id="phone" name="phone" class="form-control" value="dd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_name">Contact Name</label>
                        <div class="field">
                            <input type="text" id="contact_name" name="contact_name" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{name}">Country</label>
                        <div class="field">
                            <select name="country" class="form-control">
                                <option value=""></option>
                                <option value="au">Australia</option>
                                <option value="nz">New Zealand</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check p-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" value="on" id="companyEnabled">
                            <label class="custom-control-label" for="companyEnabled">Enabled</label>
                        </div>                        
                    </div>
                </div>
                <div class="list-item__preview-footer">
                    <input type="button" class="btn btn-outline-primary" value="Save">
                    <input type="button" class="btn btn-outline-secondary" value="Delete">
                </div>            
            </form>
        </div>
    </div>
</div>
{% endblock %}
