<h1>{{ item.headline or item.name }}</h1>
<a href="{{ url_for_agenda(item) }}">{{ url_for_agenda(item) }}</a>

<h3>{{ dateString }}</h3>

{% if location and location != '' %}
    <h3><strong>Where:</strong> {{ location }}</h3>
{% endif %}

{% if map and map != '' %}
    <div><img src={{ map | safe }} ></div>
{% endif %}

{% for contact in contacts %}
    <h3>
        <strong>Contact:</strong>
        {{ contact.name or contact.organisation }}
        {{ contact.phone }}
        {{ contact.mobile }}
        {{ contact.email }}
    </h3>
{% endfor %}

{% for link in links %}
    <h3>
        <strong>Web:</strong>
        <a href={{ link | safe }}>{{ link }}</a>
    </h3>
{% endfor %}

{%  for planning_item in item.get('planning_items', []) or [] %}

    <div>
        <div >
            <h3>{{ planning_item.get('description_text') or planning_item.get('name') or '' }}</h3>
        </div>

        {% if is_admin and planning_item.get('ednote') %}
            <div>
                <strong>Editorial Note:</strong>
                {{ planning_item.get('ednote') }}
            </div>
        {% endif %}

        {% if planning_item.get('coverages', []) %}
            <div>
                <div>
                    <h5>Coverages:</h5>
                </div>

                {% for coverage in planning_item.get('coverages', []) or [] %}
                    <dl>
                        <dt>Coverage Type:</dt>
                        <dd>{{ coverage.get('planning', {}).get('g2_content_type') }}</dd>
                        <dt>Due:</dt>
                        <dd>{{  coverage.get('planning', {}).get('scheduled') | datetime_long }}</dd>
                        <dt>Workflow Status:</dt>
                        <dd>{{ coverage.get('workflow_status') }}</dd>
                        <dt>Coverage Status:</dt>
                        <dd>{{ coverage.get('news_coverage_status', {}).get('name') }}</dd>
                        {% if is_admin %}
                            <dt>Internal Note:</dt>
                            <dd>{{ coverage.get('planning', {}).get('internal_note', '') or '' }}</dd>
                        {% endif %}
                    </dl>

                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
