{% extends "layout.html" %}

{% block title %}{{ gettext('Home') }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ gettext('Home') }}</span>
<span id="nav-breadcrumb" class="breadcrumb-item active"></span>
{% endblock %}

{% block content %}
<div id="home-app" class="content"></div>
{% endblock %}

{% block script %}
    <script>
        homeData = {{ data | tojson | safe }};
    </script>
    {{ javascript_tag('home_js') | safe }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.js" integrity="sha256-KKv6+21Uvs0xGccvranH3/RaUvz7N24khCbpW6leF5o=" crossorigin="anonymous"></script>
    <script>
        // Carousel swipe
        $('.carousel').swipe({
            swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
                if (direction == 'left') $(this).carousel('next');
                if (direction == 'right') $(this).carousel('prev');
            },
            allowPageScroll:'vertical'
        });
    </script>
{% endblock %}