<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shring-to-fit=no">

    <title>{% block title %}{{ config.SITE_NAME }}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon"
        href="{{ url_for('static', filename='favicon.ico') }}">

    {{ stylesheet_tag('newsroom_css') | safe }}

</head>
<body>
    <header class="container-fluid headerbar">
        <nav class="navbar">
            <a class="navbar-brand" href="{{ url_for('news.index') }}">{{ config.SITE_NAME }} // {{ gettext('Wire') }}</a>

            {% if session.get('username') %}
            <div class="form-inline">
                {{ session['username'] }} / <a href="{{ url_for('auth.logout') }}">{{ gettext('Logout') }}</a>
            </div>
            {% else %}
            <div class="form-inline">
                <a href="{{ url_for('auth.login') }}">{{ gettext('Login') }}</a>
            </div>
            {% endif %}
        </nav>
    </header>

    <section class="container-fluid mt-3">
    {% block content %}{% endblock %}
    </section>

    <footer class="container-fluid">
        <p class="text-right"><small class="text-muted">All contents &copy; Copyright 2017 Superdesk. All rights reserved.</small></p>
    </footer>

    {{ javascript_tag('newsroom_js') | safe }}
</body>
</html>
