<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ config.SITE_NAME }} - {% block title %}{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css"/>

    <link rel="icon" type="image/x-icon"
        href="{{ url_for('theme', filename='favicon.ico') }}">

{{ javascript_tag('common') | safe }}
{{ javascript_tag('newsroom_css') | safe }}

</head>
<body>

<div class="newsroomWrap">
    <nav class="main navbar justify-content-start align-items-stretch">
        {% include 'logo.html' %}
        <div class="navbar-brand d-flex align-items-center ml-0 ml-sm-1 ml-md-2 mr-0 mr-sm-4">
            <nav>
                {% block breadcrumb %}{% endblock %}
            </nav>
        </div>

        {% if session.get('name') %}
        <div class="form-inline my-lg-0 ml-auto">
            <div class="mr-2 d-none d-md-block">{{ get_date() | date_header }}</div>
            <div class="notif" id="header-notification"></div>
            <div id="header-profile-toggle"></div>
        </div>
        {% else %}
        <div class="form-inline my-lg-0 ml-auto pr-2 pr-sm-3">
            <div class="mr-3 d-none d-md-block">{{ get_date() | date_header }}</div>
            <a class="nav-link" href="{{ url_for('auth.login') }}">{{ gettext('Login') }}</a>
            <a class="nav-link"
               href="{{ config.CONTACT_ADDRESS }}"
               target="_blank">{{ gettext('Contact Us') }}</a>
        </div>
        {% endif %}
    </nav>

    <div class="contentWrap flex-column flex-sm-row">

        <nav class="sidenav">
            <ul class="sidenav-icons">
                {% if is_admin() %}
                <li class="sidenav-icons__item sidenav-icons__item--admin {% if request.endpoint == 'companies.settings' %}active{% endif %}">
                  <a href="{{ url_for('companies.settings') }}" title="{{ gettext('Settings') }}" data-toggle="tooltip" data-placement="right">
                      <i class="icon--cog icon--mid-blue"></i>
                  </a>
                </li>
                <li class="sidenav-icons__item sidenav-icons__item--report {% if request.endpoint == 'reports.company_reports' %}active{% endif %}">
                  <a href="{{ url_for('reports.company_reports') }}" title="{{ gettext('Reports') }}" data-toggle="tooltip" data-placement="right">
                      <i class="icon--report icon--mid-blue"></i>
                  </a>
                </li>
                {% endif %}

                {% for nav in sidenavs %}
                <li class="sidenav-icons__item {% if request.endpoint == nav.endpoint %}active{% endif %} badge--top-right">
                  <a href="{{ url_for(nav.endpoint) }}" title="{{  gettext(nav.name) }}" data-toggle="tooltip" data-placement="right">
                    {% if nav.name == 'Saved Items' %}
                    <div id="bookmarks-count" class="badge badge-pill badge-info badge-secondary"></div>
                    {% endif %}
                    <i class="icon--{{ nav.icon }} icon--mid-blue"></i>
                  </a>
                </li>
                {% endfor %}
            </ul>

            {% block sidenav %}
            {% endblock %}
        </nav>

        {% block content %}
        {% endblock %}
    </div>

    {% include "footer.html" %}

    <div id="user-profile-app"></div>
</div>

<div id="modal-container"></div>

<script>
    window.newsroom = {{ newsroom_config() | tojson | safe }};
    window.notificationData = {{ get_initial_notifications() | tojson | safe }};
    window.profileData = {{ get_user_profile_data() | tojson | safe }};
</script>

{{ javascript_tag('newsroom_js') | safe }}

{% if session.get('name') %}
    {{ javascript_tag('notifications_js') | safe }}
    {{ javascript_tag('user_profile_js') | safe }}
{% endif %}

{% block script %}{% endblock %}

{% if newsroom_config().analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ newsroom_config().analytics | safe }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', {{ newsroom_config().analytics | tojson | safe }}, {
      custom_map: {
          dimension1: 'company',
          dimension2: 'user',
      }
  });

  {% if session.get('user') %}
  gtag('set', {'user_id': {{ hash(session['user']) | tojson | safe }} });
  {% endif %}

  {% with messages = get_flashed_messages(category_filter=['analytics']) %}
    {% if messages %}
        analytics.sendEvents({{ messages | tojson | safe }});
    {% endif %}
  {% endwith %}
</script>
{% endif %}

</body>
</html>
