{% extends "layout.html" %}

{% block content %}
<div id="settings-app" class="settingsWrap">
    <div class="settings-inner">
        {% block adminNavigation %}

        {% endblock %}
        <div class="content">

            <section class="content-header">
                {% block contentHeader %}

                {% endblock %}
            </section>

            <section class="content-main">

                    {% include "flash_messages.html" %}

                    {% block contentMain %}{% endblock %}

                {% block sidebar %}{% endblock %}
            </section>

        </div>
    </div>
</div>
{% endblock %}
