{% extends "layout.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block breadcrumb %}
<span class="breadcrumb-item active">{{ data.title }}</span>
<span id="nav-breadcrumb" class="breadcrumb-item active"></span>
{% endblock %}

{% block content %}
<div id="market-place-app" class="content market-place"></div>
{% endblock %}

{% block script %}
    <script>
        marketPlaceData = {{ data | tojson | safe }};
    </script>
    {{ javascript_tag('market-place_js') | safe }}
{% endblock %}
