{% extends "layout.html" %}

{% block content %}
<nav class="navbar navbar-light mb-3">
    <form class="form-inline">
        <input class="form-control" type="text" name="q" value="{{ query }}" placeholder="{{ gettext('Search') }}">
    </form>
    {% if query %}
    <div class="navbar-brand"><strong>{{ total }}</strong></div>
    {% endif %}
</nav>

{% for item in items %}
<article class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">{{ item.headline }}</h4>
        <h6 class="card-subtitle">{{ item.slugline }}</h6>
        <small class="card-subtitle">{{ gettext('Source: %(source)s', source=item.source) }} // {{ item.versioncreated | datetime_short }}</small>
        <p class="card-text">{{ item.description_text }}</p>
    </div>
</article>

{% else %}
<h5>There are no items yet.</h5>
{% endfor %}

{% endblock %}
