{% extends "layout_wire.html" %}

{% block contentMain %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">{{ gettext("Password Reset") }}</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" id="formToken" method="post">

                                {{ form.csrf_token }}

                                {% include "form_alerts.html" %}

                                <div class="form-group">
                                    <label for="email">{{ form.email.label.text }}</label>
                                    {{ form.email(class="form-control", id="email", required="true") }}
                                </div>

                                {% if token_type=='validate' %}
                                    <button type="submit" class="btn btn-outline-primary ml-3 float-right">{{ gettext("Validate") }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-outline-primary ml-3 float-right">{{ gettext("Reset Password") }}</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "login_messages.html" %}
</div>
{% endblock %}
