{% extends "layout_wire.html" %}

{% block contentMain %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">{{ gettext("Reset password") }}</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" id="formLogin" method="post">

                                {{ form.csrf_token }}

                                {% include "form_alerts.html" %}

                                {% if not token %}
                                    <div class="form-group">
                                        <label for="old_password">{{ form.password.label.text }}</label>
                                        {{ form.old_password(class="form-control", id="password", required="true") }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <label for="new_password">{{ form.new_password.label.text }}</label>
                                    {{ form.new_password(class="form-control", id="new_password", required="true") }}
                                </div>

                                <div class="form-group">
                                    <label for="new_password2">{{ form.new_password2.label.text }}</label>
                                    {{ form.new_password2(class="form-control", id="new_password2", required="true") }}
                                </div>
                                <button type="submit" class="btn btn-outline-primary ml-3 float-right">{{ gettext("Change Password") }}</button>
                                <button type="button" class="btn btn-outline-secondary ml-3 float-right">{{ gettext("Cancel") }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "login_messages.html" %}
</div>
{% endblock %}
