<li class="sidenav-icons__item {% if request.endpoint == nav.endpoint or request.endpoint in nav.secondary_endpoints %}active{% endif %} {% if nav.badge or nav.url %}badge--top-right{% endif %}">
    <a href="{{ url_for(nav.endpoint) if nav.endpoint else nav.url }}" title="{{  gettext(nav.name) }}"
        data-toggle="tooltip"
        data-placement="right"
        {% if nav.url %}target="_blank"{% endif %}
    >
        {% if nav.badge %}
        <div id="{{ nav.badge }}" class="badge badge-pill badge-info badge-secondary"></div>
        {% endif %}
        {% block navurl %}
        {% if nav.url %}
        <div class="badge badge-pill badge-light badge--icon">
            <i class="icon-small--external icon--mid-blue"></i>
        </div>
        {% endif %}
        {% endblock %}
        <i class="icon--{{ nav.icon }} icon--mid-blue"></i>
    </a>
</li>