{% extends "layout.html" %}

{% block content %}
<h1>Signup</h1>

<p>Create your free account.</p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form class="form-horizontal" method="post">
    <label><b>Your name</b></label>
    <p><input type="text" name="name" required></p>
    <label><b>Your email address</b></label>
    <p><input type="email" name="email" required></p>
    <label><b>Please re-enter email</b></label>
    <p><input type="email" name="email2" required></p>

    <label><b>Your password</b></label>
    <p><input type="password" name="password" required></p>
    <label><b>Your phone number</b></label>
    <p><input type="tel" name="telephone" required></p>
    <label><b>Your country</b></label>
    <p><input type="text" name="country" required></p>
    <label><b>Company name</b></label>
    <p><input type="text" name="company" required></p>

    <label><b>Your position</b></label>
    <p><select name="occupation">
        <option value="Editor">Editor</option>
        <option value="Journalist">Journalist</option>
        <option value="Sales">Sales Representative</option>
        <option value="CTO">CTO</option>
        <option value="CEO">CEO</option>
    </select></p>

    <label><b>Size of your company</b></label>
    <p><select name="company_size">
        <option value="0-10">0-10</option>
        <option value="11-100">11-100</option>
        <option value=">100">>100</option>
    </select></p>

    <div class="clearfix">
      <button type="reset"  class="cancelbtn">Cancel</button>
      <button type="submit" value="signup" class="signupbtn">Sign Up</button>
    </div>
</form>
{% endblock %}
