{% extends "layout.html" %}

{% block title %}{{ gettext('Support/Soutien') }}{% endblock %}


{% block content %}
    <div class="content">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <h1 class="mb-4">Support/Soutien</h1>
                    <h2 class="mb-4">LJI News Centre/Centre de Nouvelles de l’IJL</h2>
                    <p class="mb-5">How to Use the LJI News Centre is a document for contributors, editors and anyone interested in publishing Local Journalism Initiative content. It provides clear instruction on how to credit the free articles found on this website.<br />
                    <strong><a href="{{ url_for('theme', filename='LJI - How to Use News Centre.pdf') }}" target="_blank">Download it in English</a></strong> </p>
                    <p class="mb-5">Comment utiliser le Centre de Nouvelles de l’IJL est un document pour les contributeurs, les éditeurs et toute personne intéressée à publier du contenu provenant de l'Initiative de journalisme local. Il fournit des instructions claires sur la manière de créditer les articles gratuits disponibles sur ce site Web.<br />
                    <strong><a href="#"> Téléchargez-le en français</a></strong> </p>
                    <hr>
                    <h2 class="mb-4">Superdesk</h2>
                    <p class="mb-5">How to Use Superdesk is a quick-start guide for LJI contributors and editors. Superdesk is the back end of this website, where the writing, editing and publishing happens.<br />
                    <strong><a href="{{ url_for('theme', filename='LJI - How to Use Superdesk.pdf') }}" target="_blank">Download it in English</a></strong> </p>
                    <p class="mb-5">Comment utiliser Superdesk est un guide de démarrage pour les contributeurs et éditeurs de l’IJL. Superdesk est l’outil de base de ce site Web. C’est là qu’ont lieu la rédaction, l'édition et la publication des contenus de l’IJL.<br />
                    <strong><a href="{{ url_for('theme', filename='IJL - Comment utiliser Superdesk.pdf') }}" target="_blank"> Téléchargez-le en français</a></strong> </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
