{% extends "layout.html" %}

{% block title %}{{ config.SITE_NAME }} - Users{% endblock %}

{% block contentHeader %}
    <div class="col"><h2>Users</h2></div>
    <div class="col-2">
        <button id="create-user" class="btn btn-primary btn-lg active float-right ">New User</button>
        <button id="refresh" class="btn btn-primary btn-lg active float-right" hidden>Refresh</button>
    </div>
{% endblock %}

{% block content %}
    <div id="users-app"></div>
{% endblock %}

{% block script %} {{ javascript_tag('users_js') | safe }} {% endblock %}
