{% extends "layout.html" %}

{% block title %}{{ config.SITE_NAME }} - Users{% endblock %}

{% block contentHeader %}
    <div class="col"><h2>Users</h2></div>
    <div class="col-2">
        <button id="refresh" class="btn btn-primary btn-lg active float-right" hidden>Refresh</button>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-responsive">
  <thead>
    <tr>
      <th>{{ gettext('Name') }}</th>
      <th>{{ gettext('Email') }}</th>
      <th>{{ gettext('Telephone') }}</th>
      <th>{{ gettext('User Type') }}</th>
      <th>{{ gettext('Company') }}</th>
      <th>{{ gettext('Status') }}</th>
      <th>{{ gettext('Created On') }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>

      <td>{{ user['name'] }}</td>
      <td>{{ user['email'] }}</td>
      <td>{{ user['phone'] }}</td>
      <td>{{ user['user_type'] }}</td>
      <td>{{ user['company'] }}</td>
        {% set status = gettext("Enabled") %}
        {% if not user['is_enabled'] %}
            {% set status = gettext("Disabled") %}
        {% endif %}
        {% if user['is_validated'] %}
            {% if user['is_approved'] %}
                <td>{{ gettext('Approved') }} - {{ status }}</td>
            {% else %}
                <td>{{ gettext('Needs Approval') }} - {{ status}}</td>
            {% endif %}

        {% else %}
            <td>{{ gettext('Needs Validation') }} - {{ status }}</td>
        {% endif %}

      <td>{{ user['_created'] | datetimeformat }}</td>
      <td>
          <button class="btn btn-sm edit-user" data-id="{{user['_id']}}"> {{ gettext('edit') }}</button>
          <button class="btn btn-sm delete-user" data-id="{{user['_id']}}"> {{ gettext('delete') }}</button>
      </td>
    </tr>

  {% else %}
    <tr colspan="9">There are users yet.</tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block sidebar %}
   <div id="sidebar" class="col-md-4" hidden></div>
{% endblock %}

{% block script %} {{ javascript_tag('users_js') | safe }} {% endblock %}
