{% extends "layout.html" %}

{% block title %}{{ item.headline }}{% endblock %}

{% block content %}
<div class="content content--item-detail">

    <section class="content-header">
        <div class="content-bar navbar justify-content-between">

            <span class="content-bar__menu">
                <i class="icon--close-thin"></i>
            </span>

            <div class="wire-column__preview__buttons">
                <button class="icon-button"><i class="icon--share"></i></button>
                <button class="icon-button"><i class="icon--print"></i></button>
                <button class="icon-button"><i class="icon--copy"></i></button>
                <button class="icon-button"><i class="icon--download"></i></button>
            </div>
        </div>
    </section>

    <article class="wire-column__preview__content--item-detal-wrap">
        <div class="wire-column__preview__content">
            {% if get_picture(item) %}
            <figure class="wire-column__preview__image">
                <span class="wire-column__preview__image-icon">
                    <i class="icon--resize icon--white"></i>
                </span>
                <img src="{{ get_picture(item).renditions.baseImage.href }}">
                <figcaption class="wire-column__preview__caption">{{ get_caption(get_picture(item)) }}</figcaption>
            </figure>
            {% endif %}

            <div class="wire-column__preview__content--item-detail-text-wrap">
                <div class="wire-column__preview__content--item-detail-item-text">
                    <span class="wire-column__preview__slug">{{ item.slugline }}</span>
                    <h1 class="wire-column__preview__headline">{{ item.headline }}</h1>
                    <p class="wire-column__preview__author">{% if item.byline %}{{ _('By:') }} <b>{{ item.byline }}</b>{% endif %} {{ item.versioncreated | datetime_long }}</p>
                    <p class="wire-column__preview__lead">{{ item.description_html | safe }}</p>
                    <div class="wire-column__preview__text">
                        {{ item.body_html | safe }}
                    </div>
                </div>

                <div class="wire-articles__item__meta">
                    <div class="wire-articles__item__icons">
                        {% if item.type == 'text' %}
                        <span class="wire-articles__item__icon">
                            <i class="icon--text icon--gray-light"></i>
                        </span>
                        {% endif %}
                        {% if get_picture(item) %}
                        <span class="wire-articles__item__icon">
                            <i class="icon--photo icon--gray-light"></i>
                        </span>
                        {% endif %}
                    </div>

                    <div class="wire-articles__item__meta-info">
                        <span><span class="bold">{{ item.body_html | word_count }}</span> {{ _('words') }}</span>
                        <span>{{ _('Source:') }} {{ item.source }}</span>
                    </div>
                </div>

                <div class="wire-column__preview__content--item-detail-info-wrap">

                    <div class="wire-column__preview__tags">
                        <span class="column__preview__tags__box-headline">{{ _('Metadata') }}</span>
                        {% if item.subject %}
                        <div class="column__preview__tags__column">
                            <span class="wire-column__preview__tags__headline">{{ _('Category') }}</span>
                            {% for subj in item.subject %}
                            <a class="wire-column__preview__tag"
                                href='{{ url_for('wire.index') }}?q=subject.name:"{{ subj.name }}"'
                            >{{ subj.name }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if item.genre %}
                        <div class="column__preview__tags__column">
                            <span class="wire-column__preview__tags__headline">{{ _('Content Type') }}</span>
                            {% for genre in item.genre %}
                            <a class="wire-column__preview__tag"
                                href='{{ url_for('wire.index') }}?q=genre.name:"{{ genre.name }}"'
                            >{{ genre.name }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    {% if previous_versions and item.get('pubstatus') != 'canceled' %}
                    <div class="wire-column__preview__versions">
                        <span class="wire-column__preview__versions__box-headline">{{ _('Previous versions') }}</span>
                        {% for prev in previous_versions %}
                        <a class="wire-column__preview__versions__item" href="{{ url_for('wire.item', _id=prev._id)}}">
                            <div class="wire-column__preview__versions__wrap">
                                <div class="wire-column__preview__versions__time">
                                    <span>{{ prev.versioncreated | time_short }}</span>
                                </div>
                                <div class="wire-column__preview__versions__meta">
                                    <div class="wire-column__preview__item__meta-info">
                                        <span class="bold">{{ prev.located }}</span>
                                        <span>{{ prev.versioncreated | date_short }} // <span class="bold">{{ prev.body_html | word_count }}</span> {{ _('words') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wire-column__preview__versions__name">
                                <h5 class="wire-column__preview__versions__headline">{{ prev.headline }}</h5>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

            </div>

        </div>
    </article>

</div>
{% endblock %}
