{% extends "layout.html" %}

{% block title %}{{ item.headline }}{% endblock %}

{% block content %}
<div class="content content--item-detail">

    <section class="content-header">
        <div class="content-bar navbar justify-content-between">

            <span class="content-bar__menu">
                <i class="icon--close-thin"></i>
            </span>

            <div class="wire-column__preview__buttons">
                <span class="wire-column__preview__icon"><i class="icon--share"></i></span>
                <span class="wire-column__preview__icon"><i class="icon--print"></i></span>
                <span class="wire-column__preview__icon"><i class="icon--copy"></i></span>
                <span class="wire-column__preview__icon"><i class="icon--download"></i></span>
            </div>
        </div>

    </section>


    <article class="wire-column__preview__content--item-detal-wrap">
        <div class="wire-column__preview__content">
            <figure class="wire-column__preview__image">
                <span class="wire-column__preview__image-icon">
                    <i class="icon--resize icon--white"></i>
                </span>
                <img src="/static/article_preview.png" width="438" height="249">
                <figcaption class="wire-column__preview__caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit</figcaption>
            </figure>

            <div class="wire-column__preview__content--item-detail-text-wrap">
                <div class="wire-column__preview__content--item-detail-item-text">
                    <span class="wire-column__preview__slug">{{ item.slugline }}</span>
                    <h1 class="wire-column__preview__headline">{{ item.headline }}</h1>
                    <p class="wire-column__preview__author">{{ _('By:') }} <span class="bold">{{ item.byline }}</span> {{ item.versioncreated|datetime_long }}</p>
                    <p class="wire-column__preview__lead">{{ item.description_html | safe }}</p>
                    <div class="wire-column__preview__text">
                        {{ item.body_html | safe }}
                    </div>
                </div>

                <div class="wire-articles__item__meta">
                    <div class="wire-articles__item__icons">
                        <span class="wire-articles__item__icon">
                            <i class="icon--text icon--gray-light"></i>
                        </span>
                        <span class="wire-articles__item__icon">
                            <i class="icon--photo icon--gray-light"></i>
                        </span>

                        </span>
                    </div>

                    <div class="wire-articles__item__meta-info">
                        <span><span class="bold">345</span> words</span>
                        <span>Source: AAP</span>
                    </div>
                </div>

                <div class="wire-column__preview__content--item-detail-info-wrap">

                    <!-- Tolga uncomment this apply to static html

                        <h5>{{ _('Metadata') }}</h3>
                        <dl>
                            {% if item.subject %}
                            <dt>{{ _('Category') }}</dt>
                            <dd>{{ item.subject|join(', ', attribute='name')}}</dd>
                            {% endif %}
                            {% if item.genre %}
                            <dt>{{ _('Genre') }}</dt>
                            <dd>{{ item.genre|join(', ', attribute='name')}}</dd>
                            {% endif %}
                        </dl>

                    -->
                    <div class="wire-column__preview__tags">
                        <span class="column__preview__tags__box-headline">{{ _('Metadata') }}</span>
                        <div class="column__preview__tags__column">
                            <span class="wire-column__preview__tags__headline">Category</span>
                            <a class="wire-column__preview__tag" href="#">International News</a>
                            <a class="wire-column__preview__tag" href="#">Politics</a>
                            <a class="wire-column__preview__tag" href="#">Something</a>
                        </div>
                        <div class="column__preview__tags__column">
                            <span class="wire-column__preview__tags__headline">Genre</span>
                            <a class="wire-column__preview__tag" href="#">Article (news)</a>
                        </div>
                    </div>

                    <div class="wire-column__preview__versions">
                        <span class="wire-column__preview__versions__box-headline">Previous versions</span>
                        <div class="wire-column__preview__versions__item">
                            <div class="wire-column__preview__versions__wrap">
                                <div class="wire-column__preview__versions__time">
                                    <span>14:15</span>
                                </div>
                                <div class="wire-column__preview__versions__meta">
                                    <div class="wire-column__preview__item__meta-info">
                                        <span class="bold">London</span>
                                        <span>06.06.2017 // <span class="bold">345</span> words</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wire-column__preview__versions__name">
                                <h5 class="wire-column__preview__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                            </div>
                        </div>
                        <div class="wire-column__preview__versions__item">
                            <div class="wire-column__preview__versions__wrap">
                                <div class="wire-column__preview__versions__time">
                                    <span>14:15</span>
                                </div>
                                <div class="wire-column__preview__versions__meta">
                                    <div class="wire-column__preview__item__meta-info">
                                        <span class="bold">London-Bridge-Atack</span>
                                        <span>06.06.2017 // <span class="bold">345</span> words</span>
                                    </div>
                                </div>
                            </div>
                            <div class="wire-column__preview__versions__name">
                                <h5 class="wire-column__preview__versions__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </article>

















</div>
{% endblock %}
