$primary-color: #444;
$background-color: #f8f8f8;

body {
    color: $primary-color;
    background-color: $background-color;
    font-family: 'Droid Serif', serif;
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 56px;
    background-color: #00acec;
}

.navbar.main {
    position: absolute;
    top: 0;
    right: 0;
    left: 56px;
    height: 56px;
    color: #969696;
    background-color: #2d2d2d;
}

.content {
    margin-top: 56px;
}

nav.search {
    width: 100%;
}

.card {
    color: #444;
    background-color: #fff;
}

article.list {
    cursor: pointer;
}

.form-alert {
    width: 450px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col-fixed-60{
    width:60px;
    background:rgb(0, 172, 236);
    position:fixed;
    height:100%;
    z-index:1;
}


.col-offset-120{
    padding-left:120px;
    z-index:0;
}

.logo {
    width: 100%;
    height: 56px;
    background: #006f99;
    padding: 11px 0 0 11px;
}
