html {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    font-family: 'Merriweather', serif;
    color: $body-text;
    background-color: $background-color;
    overflow: hidden;
    height: 100%;
}


// Bootstrap overwrite
.dropdown-menu {
    margin-top: 0px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
    font-size: 0.875rem;

    [class^="icon--"], [class*=" icon--"] {
        vertical-align: middle;
    }
}
.dropdown-item {
    padding: .25rem 1rem;
    [class^="icon--"], [class*=" icon--"] {
        margin-right: 1rem;
    }
    &:active {
        background-color: $main-blue;
        [class^="icon--"], [class*=" icon--"] {
            color: white;
        }
    }
}
.btn.focus, .btn:focus {
    outline: 0px;
    box-shadow: none;
}

.dropdown-menu-right {
    right: 0;
    left: auto !important;
    transform: initial !important;
    top: 100% !important;
}

.form-alert {
    width: 450px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col-fixed-60 {
    width:60px;
    background:rgb(0, 172, 236);
    position:fixed;
    height:100%;
    z-index:1;
}


.col-offset-120 {
    padding-left:120px;
    z-index:0;
}
.nav-tabs .nav-link {
    border-radius: 0;
}
label {
    color: #676c7b;
    font-size: 14px;
    margin-bottom: 0.3rem;
}

// Tables
.table {
    font-size: 13px;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: white;
    thead {
        th {
            font-weight: 400;
            vertical-align: top;
            color: #777;
        }
    }
    tr {
        outline: 1px solid transparent;
        border-top: 1px solid #e9ecef;
    }
    td {
        padding: 1rem .75rem;
        border-top: none;
        &.name {
            font-size: 16px;
            font-weight: 700;
            font-family: initial;
            line-height: 110%;
        }
    }
}
.table-hover tbody tr {
    &:hover {
        background-color: transparent;
        outline: 1px solid $gray-light;
        cursor: pointer;
    }
    &.table--selected {
        outline: 1px solid $main-blue;
    }
}
tr.table--selected {
    outline: 1px solid $main-blue;
}

// Bootstrap overwrite end

// Wire BEM classes

.newsroomWrap {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

body.print {
    color: #000;
    background-color: #fff;
}

.sidenav {
    flex: 0 0 56px;
    background-color: $main-blue;
    position: relative;
}

.sidenav:after {
    position: absolute;
    display: block;
    width: 7px;
    z-index: 80;
    content: "";
    top: 0;
    bottom: 0px;
    right: 0;
    background-image: linear-gradient(to left,rgba(0,0,0,.12) 0,transparent 100%);
}

.sidenav-icons {
  margin: 0px;
  padding: 0px;
  li {
      a, span {
          display: block;
          height: 54px;
          line-height: 54px;
          text-align: center;
          i {
              vertical-align: middle;
          }
      }
  }
}

.sidenav-icons__item--admin {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.content-header {
    position: relative;
}

.navbar {
    height: 56px;
    &.main {
        padding: 0px;
        color: #969696;
        background-color: #2d2d2d;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        z-index: 1007;
        flex: 0 0 auto;
    }
}

.navbar__logo {
  width: 56px;
  height: 56px;
  background: #006f99;
  padding: 11px 0 0 11px;
}
.navbar-brand {
    margin-left: 2rem;
    opacity: .6;
}
nav.search {
    width: 100%;
}

.card {
    background-color: #fff;
    outline: none;
}

article.list {
    cursor: pointer;
}

.contentWrap, .settingsWrap, .settings-inner, .flex-row, .flex-col {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}
.flex-col {
    overflow-x: auto;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.content-bar {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 0px;
    z-index: 1;
}

.content-bar__dropdown-btn {
    position: relative;
    background-color: #fff;
    color: #7f7f7f;
    padding: 17px 20px;
    border-radius: 0px;
    z-index: 1001 !important;
}

.show .content-bar__dropdown-btn {
    box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.3);
}

.content-bar__menu {
    font-size: 0.94rem;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    z-index: 1002;
}

.show .content-bar__menu {
    box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.3);
    z-index: 1002;
}

.content-bar__menu--nav {
    background: #ededed;
    .icon--close-thin {
        display: none;
    }
}

.content-bar__menu--nav--open {
    background: #717b96;
    .icon--hamburger {
        display: none;
    }
    .icon--close-thin {
        display: block;
    }
}

.content-bar__menu + .dropdown-menu {
    z-index: 1001;
}
.content-bar--side-padding {
    padding: 0 20px;
}

.side-navigation {
    width: 220px;
    overflow: hidden;
    overflow-y: auto;
    border-right: 1px solid $gray-light;
    background-color: white;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.side-navigation__btn {
    display: block;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $body-text;
    text-transform: uppercase;
    line-height: 150%;
    text-decoration: none;
    background-color: rgba(94,169,200,0);
    padding: 20px;
    transition: background-color .2s ease-out,color .1s ease-out;
    &:hover {
        background-color: #f1f1f1;
        color: $body-text;
        text-decoration: none;
    }
    &.active {
        background-color: #f1f1f1;
        color: $main-blue;
    }
}
.list-items-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    overflow: auto;
}
.list-item {
    background-color: #ccc;
}
.list-item__preview {
    width: 420px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    overflow-y: auto;
    border-left: 2px solid $gray-mid;
    background-color: white;
    form {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .tab-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .tab-pane {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .nav-tabs {
        .nav-item {
            .nav-link {
                font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
                font-size: 12px;
                color: #9b9b9b;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                padding: 1rem 2rem;
                &.active, &.active:hover {
                    font-weight: 500;
                    color: $body-text;
                    border-color: #ddd #ddd #fff #ddd;
                }
                &:hover {
                    border-color: transparent;
                    color: $body-text;
                }
            }
            &:first-child {
                .nav-link {
                    &.active, &.active:hover {
                        border-color: #ddd #ddd #fff transparent;
                    }
                }
            }
        }
    }
    table {
        tr:first-child {
            td {
                border-top: none;
            }
        }
    }
}
.list-item__preview-header {
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }
}
.list-item__preview-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
}
.list-item__preview-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    border-top: 1px solid #ddd;
    .wire-button {
        + .wire-button {
            margin-left: 20px;
        }
    }
}

.search {
    flex: 1 1 auto;
}

.search__form {
    flex: 1 1 auto;
    form {
        flex: 1 1 auto;
    }
    input {

    }
    button {
        font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 0.8rem;
        color: #707070;
        padding: 7px 20px;
        margin-left: 15px;
        margin-right: 15px;
        text-transform: uppercase;
        border: 1px solid #bababa;
        border-radius: 3px !important;
        background: transparent;
        &:hover {
            cursor: pointer;
        }
    }
}

.searchForm--active {
    .search__form__buttons {
        display: block;
    }
}

.search__input {
    color: #d5d5d5;
    font-weight: 700;
    border: 0px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d5d5d5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #d5d5d5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #d5d5d5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #d5d5d5;
    }
}

.search__form__buttons {
    display: none;
}

.search__icon {
    margin: 0 10px;
}

.content-bar__right {
    display: flex;
}

.content-bar__sort {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.89rem;
    border-right: 1px solid #ebebeb;
    align-items: center;
}

.content-bar__sort .content-bar__dropdown-btn {
    font-size: 0.89rem;
    color: #444;
    padding: 18px 20px;
}

.multi-action-bar {
    display: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 56px;
    padding: 0 16px;
    background-color: #d9f2fc;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.multi-action-bar--open {
    display: flex;
    animation: dropOut 0.3s cubic-bezier(0.695, 0.105, 0.285, 1.275) 1;
}

@keyframes dropOut {
    0% {transform: translateY(-48px);}
    100% {transform: translateY(0);}
}

.multi-action-bar__button {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8rem;
    color: #707070;
    padding: 7px 20px;
    margin-right: 5px;
    text-transform: uppercase;
    border: 1px solid #bababa;
    border-radius: 3px;
    background: transparent;
}

.multi-action-bar__count {
    font-size: 0.875rem; // 14px
    flex: 1 1 auto;
    margin-left: 20px;
}

.multi-action-bar__icons {

}

.multi-action-bar__icon {
    margin-left: 20px;
    &:hover {
        text-decoration: none;
    }
}

.content-main {
    display: flex;
    overflow-y: auto;
    flex-grow: 1;
}

.wire-column--3 {
    opacity: 1;
    transition: opacity .2s ease-in;
    transition-delay: .1s;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
}

.wire-column__nav, .wire-column__preview {
  width: 0;
  transition: all .2s ease-out;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.wire-column__nav--open, .wire-column__preview--open {
    width: 25%;
    flex-shrink: 1;
}

.wire-column__nav--open {
    max-width: 260px;
}

.wire-column__preview--open {
    width: 480px;
}

.wire-column__nav__items, .wire-column__preview__items {
  opacity: 0;
  transition: all .1s ease-out;
  transition-delay: 0;
  padding: 10px 20px;
}

.wire-column__nav--open .wire-column__nav__items, .wire-column__preview--open .wire-column__preview__items {
  opacity: 1;
  transition: all .2s ease-out;
  transition-delay: .2s;
}

.wire-column__nav {
    background: #3e4557;
    max-width: 260px;
    a {
        color: #fff;
    }
}

.wire-column__nav__items {
    .nav {
        margin-left: -20px;
        margin-right: -20px;
        border-bottom: 1px solid #323847;
    }
    .wire-button {
        margin-bottom: 10px;
    }
}

.wire-column__nav__tab {
    a {
        color: #8b8f9a;
        &.active {
            color: #fff;
            border-bottom: 3px solid $main-blue;
        }
    }
}

.wire-column__main {
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    overflow: auto;
    margin-left: 0px;
    transition: margin-left .2s ease-out;
}

.wire-column__main--left-margin {
    margin-left: 260px;
}

.flex-grid__item {
    background: #fff;
}

.wire-column__nav__divider {
    width: 38px;
    border-bottom: 4px dotted #5b6170;
    display: block;
    margin: 20px auto;
}

.wire-button {
    position: relative;
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8rem;
    color: #707070;
    padding: 8px 20px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid #bababa;
    border-radius: 3px;
    background: transparent;
    text-align: center;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
    &.wire-button--active {
        color: $main-blue;
        border: 1px solid #1982b0;
    }
}

.wire-button__notif {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
    color: #fff;
    background: #d50089;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.wire-articles {
    margin-top: 20px;
}

.wire-articles__item {
    flex-grow: 1;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 16px 25px;
    border: 4px solid transparent;
    outline: 1px solid transparent;
    transition: all .2s ease-out;
    &:hover {
        border: 4px solid #f5f5f5;
    }
}

.wire-articles__item--open {
    outline: 1px solid #00aceb;
}

.wire-articles__item--list__selected .wire-articles__item {
    border: 4px solid #e6f7fd;
    outline: 1px solid #00aceb;
}

.wire-articles__item-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
}

.wire-articles--list {

}

.wire-articles__item--list {
    display: flex;
    flex-direction: row;
}

.wire-articles__item--list__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%; // IE fix
}

.wire-articles__item--list__headline {
    font-size: 1rem;
    font-weight: 700;
}

.wire-articles__item--list__select {
    width: 0px;
    opacity: 0;
    display: inline-block;
    transition: all .2s ease-out;
    img {
        opacity: 0;
        margin-top: -1px;
    }
}

.wire-articles__item:hover .wire-articles__item--list__select,
.wire-articles__item--selected .wire-articles__item--list__select {
    width: 24px;
    opacity: 1;
    margin-right: 10px;
    img {
        opacity: 1;
        transition: all .2s ease-out;
        transition-delay: 0.2s;
    }
}

.wire-articles__item--list__selected .wire-articles__item--list__select {
    width: 24px;
    opacity: 1;
    margin-right: 10px;
}

.wire-articles__item__meta {
    display: flex;
    align-items: center;
}

.wire-articles__item__icons {
    display: flex;
}

.wire-articles__item__icon {
    margin-right: 7px;
}

.wire-articles__item__divider {
    height: 30px;
    border-right: 1px dotted #c4c4c4;
    margin: 0px 7px;
}

.wire-articles__item__meta-info {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8125rem;
    color: #747474;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    .bold {
        color: #444;
        font-weight: 700;
    }
    .blue-text {
        color: #00acec;
    }
}

.wire-articles__item__text {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 5px 0px;
    p {
        margin: 0px;
    }
}

.wire-articles__item__versions-btn {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8125rem;
    color: $main-blue;
}

.wire-articles__item__versions-btn--open {

}

.wire-articles__item--list__image {
    position: relative;
    figure {
        margin-left: 20px;
        margin-bottom: 0px;
    }
}

.wire-articles__item--list__image-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.8;
}

.wire-articles__item--list__actions {
    margin-left: 20px;
    .btn-group {
        &:hover {
            > span > [class^="icon--"], [class*=" icon--"] {
                color: $body-text;
            }
        }
    }
}

.wire-articles__versions {
    max-height: 400px;
    flex-direction: column;
    background: #fafafa;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: all .2s ease-out;
    > * {
        opacity: 1;
        transition: all .2s ease-out;
        transition-delay: .2s;
    }
}


.wire-articles__versions__item {
    display: flex;
    align-items: center;
    padding: 5px 25px;
    border-bottom: 1px dotted #cacaca;
}

.wire-articles__versions__item:last-child {
    border-bottom: 0px;
}

.wire-articles__versions__wrap {
    display: flex;
    align-items: center;
}

.wire-articles__versions__wrap > * {
    margin-right: 20px;
}

.wire-articles__versions__time {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 2.25rem;
    color: #b6b6b6;
    font-weight: 300;
}

.wire-articles__versions__meta {

}

.wire-articles__versions__name {
    h5 {
        font-size: 0.9375rem; // 15px
        color: #707070;
        margin-bottom: 0px;
    }
}

.wire-column__preview {
    background: #fff;
    border-left: 2px solid #919191;
}

.wire-column__preview__items {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    padding: 0px;
}

.wire-column__preview__top-bar {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8125rem; // 13px
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.wire-column__preview__date {
    color: #747474;
}

.wire-column__preview__buttons {

}

.wire-column__preview__icon {
    margin-left: 15px;
}

.wire-column__preview__content {
    overflow: auto;
    padding: 10px 20px;
    p {
        margin: 20px 0;
    }
}

.wire-column__preview__slug {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.875rem; // 14px
    font-weight: 500;
    color: #1d5b7d;
    display: inline-block;
    margin-bottom: 5px;
}

.wire-column__preview__headline {
    font-size: 1.125rem; // 18px
    font-weight: 700;
    line-height: 1.4;
}

.wire-column__preview__author {
    color: #626262;
    font-weight: 300;
    .bold {
        color: #222222;
        font-weight: 500;
    }
}

.wire-column__preview__image {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    img {
        width: 100%;
        height: auto;
    }
}

.wire-column__preview__image-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.8;
}

.wire-column__preview__caption {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8125rem; // 13px
    color: #7c7c7c;
    margin: 10px 20px;
}

.wire-column__preview__lead, .wire-column__preview__text {
    font-size: 0.9375rem; // 15px
    color: #222222;
    line-height: 1.55;
}

.wire-column__preview__text {
    color: #444444;
    font-weight: 300;
}

.wire-column__preview__tags {
    display: flex;
    border-top: 1px dotted #cacaca;
    margin-top: 20px;
    padding-top: 25px;
}

.column__preview__tags__column {

}

.column__preview__tags__box-headline {
    font-size: 0.875rem;
    color: #222222;
    font-weight: 700;
    margin-bottom: 5px;
}

.column__preview__tags__column__headline {

}

.wire-column__preview__tags__headline {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.6875rem; // 11px
    color: #4D4D4D;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    display: block;
}

.wire-column__preview__tag {
    font-size: 0.8125rem; // 13px
    background: #EDEDED;
    color: #444444;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 2px;
    &:hover {
        color: #444444;
        text-decoration: none;
    }
}

.wire-column__preview__versions {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.wire-column__preview__versions__box-headline {
    font-size: 0.875rem; // 14px
    color: #222222;
    font-weight: 700;
    margin-bottom: 5px;
}

.wire-column__preview__versions__item {
    align-items: center;
    padding: 10px 0px;
    border-top: 1px dotted #cacaca;
}

.wire-column__preview__versions__wrap {
    display: flex;
    align-items: center;
}

.wire-column__preview__versions__time {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 2.25rem;
    color: #b6b6b6;
    font-weight: 300;
    line-height: 36px;
    margin-right: 15px;
}

.wire-column__preview__versions__meta {
    font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 0.8125rem;
    color: #747474;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    .bold {
        color: #444;
        font-weight: 700;
    }
}

.wire-column__preview__item__meta-info {
    display: flex;
    flex-direction: column;
}

.wire-column__preview__versions__name {

}

.wire-column__preview__versions__headline {
    font-size: 0.875rem; // 14px
    color: #707070;
    line-height: 1.3;
    margin-top: 5px;
    margin-bottom: 0px;
}

.content--item-detail {

}

.content--item-detail .content-header {

}

.content--item-detail .wire-column__preview__icon {
    margin-left: 0px;
    margin-right: 15px;
}

.content--item-detail .wire-column__preview__content {
    max-width: 980px;
    margin: 0 auto;
    padding: 0px 30px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.content--item-detail .wire-column__preview__image {
    margin-left: -30px;
    margin-right: -30px;
}

.content--item-detail .wire-column__preview__caption {
    margin: 10px 30px;
}

.wire-column__preview__content--item-detal-wrap {
    overflow: auto;
}

.wire-column__preview__content--item-detail-text-wrap {
    display: flex;
    flex-direction: column;
    @include lg {
        flex-direction: row;
    }
}

.wire-column__preview__content--item-detail-item-text {
    order: 2;
    flex-grow: 1;
    @include lg {
        margin: 0px 40px 0px 10px;
    }
}

.content--item-detail .wire-column__preview__lead, .content--item-detail .wire-column__preview__text {
    font-size: 1rem; // 16px
}

.content--item-detail .wire-column__preview__headline {
    font-size: 2.125rem; // 34px
}

.content--item-detail .wire-articles__item__meta {
    order: 1;
    flex-direction: row;
    @include lg {
        flex-direction: column;
        flex: 1 0 110px;
        align-items: flex-start;
        margin-top: 20px;
        padding-top: 25px;
    }
}

.wire-column__preview__content--item-detail-info-wrap {
    order: 3;
    flex: 1 0 260px;
}

.content--item-detail .wire-column__preview__tags {
    border-top: 0px;
    margin-top: 0px;
    flex-direction: column;
    @include lg {
        margin-top: 20px;
    }
}

.content--item-detail .column__preview__tags__column {
    border-top: 1px dotted #cacaca;
    padding: 10px 0px;
}

// End Wire BEM classes
