@import './breakpoints';

.wire-column__main-header-agenda {
    flex-shrink: 0;
    height: 56px;
    transition: all .2s ease;
    z-index: 100;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    padding-left: 0 !important;
    padding-right: 0 !important;

    @include phone {
        justify-content: space-evenly;
        height: 45px;
    }

    @include small_phone {
        .btn-group > .btn {
            margin-left: 0 !important;
            padding-left: 0.25rem !important;
            padding-right: 0.25rem !important;
        }
    }

    .btn-outline-primary:hover {
        i {
            color: white;
        }
    }
}

.agenda-item {
    margin-top: 0;

    @include md {
        margin-top: 10px;
    }
}

.agenda-item {
    .wire-articles__item__meta-info {
        margin-top: 10px;
        margin-bottom: 0;

        @include md {
            margin-top: 0;
            margin-bottom: 10px;
        }
    }
}
