// Custom buttons

.btn {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    white-space: normal;
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-button, 1.2rem, $btn-border-radius);
    transition: padding .2s ease-out;
    
    &.disabled,
    &:disabled {
      opacity: .4;
      cursor: not-allowed;
    }
}

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $input-btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $input-btn-line-height-sm, $btn-border-radius-sm);
}

// smaller button bellow xxl media query
.btn-responsive {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $input-btn-line-height-sm, $btn-border-radius-sm);
  
  @include xxl {
    @include button-size($input-btn-padding-y, $input-btn-padding-x, $font-size-button, 1.2rem, $btn-border-radius);
  }
}
.btn-with-icon {
  display: flex;
  align-items: center;

  [class^="icon--"], [class*=" icon--"] {
    margin-right: 8px;
  }
  &:hover {
    [class^="icon--"], [class*=" icon--"], [class^="icon-"] {
      color: $white;
    }
  }
}

@mixin button-outline-variant($color, $color-hover: #fff, $border-color: $color) {
    color: $color;
    background-color: transparent;
    background-image: none;
    border-color: $border-color;
  
    @include hover {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
    }

    &.active {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
    }
  
    &:focus,
    &.focus {
      box-shadow: 0 0 0 .2rem rgba($color, .5);
    }
  
    &.disabled,
    &:disabled {
      color: $color;
      background-color: transparent;
      opacity: .4;
      cursor: not-allowed;
    }
  
    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $color-hover;
      background-color: $color;
      border-color: $color;
      box-shadow: 0 0 0 .2rem rgba($color, .5);
    }
    &:not([disabled]):not(.disabled).active {
      box-shadow: none;
    }
  }
@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
      @if $color == "light" {
        @include button-outline-variant($value, $gray-900);
      } @else if $color == "secondary" {
        @include button-outline-variant($gray-600, white, $value);
      } 
      @else {
        @include button-outline-variant($value, $white);
      }
    }
  }
  