// Custom variables

$body-text: #444;
$gray-light: #c9c9c9;
$gray-mid: #9a9a9a;
$gray-dark: #747474;
$background-color: #f8f8f8;
$main-blue: #00acec;
$mid-blue: #006f98;
$mid-blue-light: #6b8d9a;
$pink: #d50089;
$red: #cb0002;
$green: #7ed321;
$green-dark: #64a51c;
$orange: #f7941d;
$cyan: #0ce7e7;
$yellow2: #d2a800;

// Custom bootstrap variables

$info: $pink;
$gray-600: #868e96;

$blue: #00acec;
$line-height-sm: 1.25;
$border-radius: .1875rem;
$btn-border-radius-sm: .125rem;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Merriweather", serif;
$font-size-base: 1rem;
$font-size-button: ($font-size-base * .75) !default;
$font-weight-medium: 500 !default;
$font-family-base: $font-family-sans-serif;
$font-size-lg: ($font-size-base * 1);
$font-size-sm: ($font-size-base * .65);

// Buttons

$input-btn-padding-y: .5rem;
$input-btn-padding-x: 1rem;
$input-btn-padding-y-sm: .375rem;
$input-btn-padding-x-sm: .75rem;
$font-size-sm: .75rem;
$btn-font-weight: $font-weight-medium;
$btn-border-radius: $border-radius;
$input-btn-focus-box-shadow:  0 0 0 0;
$btn-block-spacing-y: .625rem;

// Forms

$input-focus-border-color: $blue;
$input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .15);
$input-bg: $background-color;
$custom-checkbox-indicator-border-radius: 2px;
$custom-control-indicator-bg: transparent;

// Dropdowns

$dropdown-padding-y: 0;
$dropdown-item-padding-y: 1rem;
$dropdown-item-padding-x: 1rem;
$dropdown-link-hover-bg: #eff4f6;
$dropdown-border-width: 0;
$dropdown-min-width: 12rem;

// Modals

$modal-backdrop-bg: #fff;
$modal-backdrop-opacity: .95;
$modal-content-border-width: 0px;
$modal-content-bg: transparent;

// Badge

$badge-font-size: 0.8125rem;
$badge-font-weight: 400;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    xsm: 321px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1440px
  ) !default;

  // Grid containers
  //
  // Define the maximum width of `.container` for different screen sizes.

  $container-max-widths: (
    xsm: 300px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1360px
  ) !default;
