// Custom breadcrumbs

.navbar-brand {
  span.breadcrumb-item {
    font-size: 1rem; // 16px
    line-height: 1.1;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0;
    display: none;
    @include sm {
      padding: 0 0.5rem;
      display: inline-block;
    }
  }
}
.breadcrumb-item.active {
  color: #9ba4ad;
}
