// Custom dropdowns

.dropdown-menu {
  font-size: 0.875rem; // 14px
  margin-top: 0px;
  border-radius: 0px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
  max-height: 495px;
  overflow-y: auto;
  overflow-x: hidden;

  [class^="icon--"], [class*=" icon--"] {
      vertical-align: middle;
  }
}

.dropdown-menu-typeahead {
  overflow: visible;
  width: 300px;
}

.dropdown-item {
  padding: 0.7rem 1rem;
  cursor: pointer;

  [class^="icon--"], [class*=" icon--"] {
    margin-right: 1rem;
  }
  &:focus {
    color: #16181b;
    background-color: #eff4f6 !important;
  }
  &:active, &:hover {
    color: #fff !important;
    background-color: $main-blue !important;
    [class^="icon--"], [class*=" icon--"] {
      color: white !important;
    }
  }
  .no-touch & {
    &:hover, &:focus {
      color: #16181b !important;
      background-color: #eff4f6 !important;
      [class^="icon--"], [class*=" icon--"] {
        color: $main-blue !important;
      }
    }
    &:active {
      color: #fff !important;
      background-color: $main-blue !important;
      [class^="icon--"], [class*=" icon--"] {
        color: white !important;
      }
    }
  }
}

.dropdown-menu-right {
  right: 0;
  left: auto !important;
  transform: initial !important;
  top: 100% !important;
}

.dropdown-header {
  font-size: 1rem;
  color: $body-text;
  font-weight: 500;
  padding: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.dropdown-divider {
  margin: 0.3rem 0;
}

.rbt-input-hint {
  top: 3px !important;
  width: 100%;
}

.rbt-input-hint-container {
  overflow: hidden;
}
