// Custom badges

.badge--top-right {
  position: relative;
  .badge {
    font-size: 0.6875rem; // 11px    
    line-height: 1.2;
    position: absolute;
    top: 5px;
    right: 7px;
  }
}

.badge--small {
  font-size: 0.6875rem;
}
.badge--icon {
  padding: 0;
  top: 10px !important;
  right: 2px !important;

  @include sm {
    right: 11px !important;
  }
}
