html {
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    color: $body-text;
    background-color: $background-color;
    overflow: hidden;
    height: 100%;
}

h3.home-section-heading {
    font-size: 1.25rem;
    font-weight: 700;
    color: #006f99;
    margin-bottom: 1rem;
}

// variables
$nav-sidebar-bg: #3e4557;
$nav-sidebar-border: #323847;

// Bootstrap overwrite

.form-alert {
    width: 450px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col-fixed-60 {
    width:60px;
    background:rgb(0, 172, 236);
    position:fixed;
    height:100%;
    z-index:1;
}

.col-offset-120 {
    padding-left:120px;
    z-index:0;
}
.nav-tabs .nav-link {
    border-radius: 0;
}
label {
    color: #676c7b;
    font-size: 14px;
    margin-bottom: 0.3rem;
}


.alertify-notifier {
    .ajs-message {
        border: none;
    }
    .ajs-message.ajs-visible {
        font-size: 0.875rem; // 14px
        font-weight: 300;
        letter-spacing: 0.2px;
        text-shadow: none;
    }
    .ajs-message.ajs-success {
        background: $pink;
    }
    .ajs-message.ajs-error {
        background: #cc0000;
    }
}

// Tables
.table {
    font-size: 13px;    
    background-color: white;
    thead {
        th {
            font-weight: 400;
            vertical-align: top;
            color: #777;
        }
    }
    tr {
        outline: 1px solid transparent;
        border-bottom: 1px solid #e9ecef;
    }
    td {
        padding: 1rem .75rem;
        border-bottom: none;
        &.name {
            font-size: 14px;
            font-weight: 700;            
            line-height: 120%;
        }
    }
}
.table-hover tbody tr {
    &:hover {
        background-color: transparent;
        outline: 1px solid $gray-light;
        cursor: pointer;
    }
    &.table--selected {
        outline: 1px solid $main-blue;
    }
}
tr.table--selected {
    outline: 1px solid $main-blue;
}

// Bootstrap overwrite end

// Wire BEM classes

.newsroomWrap {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

body.print {
    color: #000;
    background-color: #fff;
}

.sidenav {
    flex: 0 0 56px;
    background-color: $main-blue;
    position: relative;
}

.sidenav:after {
    position: absolute;
    display: block;
    width: 7px;
    z-index: 80;
    content: "";
    top: 0;
    bottom: 0px;
    right: 0;
    background-image: linear-gradient(to left,rgba(0,0,0,.12) 0,transparent 100%);
}

.sidenav-icons {
  margin: 0 0 0 6px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  @include sm {
      display: block;
      margin: 0;
  }
  li {
      a, span {
          display: block;
          height: 56px;
          padding: 0 10px;
          line-height: 56px;
          text-align: center;
          i {
              vertical-align: middle;
          }
      }
  }
  .active i {
    color: #fff;
  }
}

.sidenav-icons__item--admin {
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  @include sm {
      left: 0;
  }
}

.sidenav-icons__item--report {
  position: absolute;
  bottom: 40px;
  left: auto;
  right: 0;
  @include sm {
      left: 0;
  }
}

.content-header {
    position: relative;
}

.navbar {
    height: 56px;
    &.main {
        padding: 0px;
        color: #969696;
        background-color: #2d2d2d;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
        z-index: 1007;
        flex: 0 0 auto;
    }
    .notif {
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        .badge {
            top: -7px;
            right: -7px;
        }
        &:hover .notif__circle {
            background: #4a4a4a;
        }
    }
    .notif__circle {
        background: #000;
        width: 33px;
        height: 33px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notif__list {
        position: absolute;
        top: 44px;
        right: 0px;
        background: $background-color;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
        min-width: 300px;
        overflow: auto;
        max-height: calc(100vh - 56px);
        @include sm {
            min-width: 420px;
        }
    }
    .notif__list__header {
        background: #fff;
        border-bottom: 1px solid #e7e7e7;
        padding: 1rem 0;
    }
    .notif__list__header-headline {
        font-size: 1rem;
        color: $body-text;
        font-weight: 700;
    }
    .notif__list__item {
        background: #fff;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
        border: 2px solid transparent;
        padding: 10px 12px;
        margin: 10px;
        &:hover {
            border: 2px solid #f5f5f5;
        }
        .close {
            width: 18px;
            height: 18px;
            background-color: #bbb;
            border-radius: 100%;
            color: white;
            font-size: 1.1rem;
            font-weight: 400;
            text-shadow: none;
            padding-left: 1px;

            &:focus {
                outline: 0;
            }
        }
    }
    .notif__list__headline {
        font-size: 0.875rem; // 14px
        color: $body-text;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 6px;
    }
    .notif__list__info {
        font-size: 0.75rem;
        color: $gray-mid;
        margin-bottom: 6px;
    }

}

.navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    max-width: 160px;

    @include sm {
        max-width: 224px;
        padding: 0 0.5rem 0 1rem;
    }

    img {
        max-width: 100%;
    }
}
.navbar-brand {
    margin-left: 2rem;
    opacity: 1;
    line-height: 1.2rem;
    font-size: 1.125rem;
    font-weight: 400;
    @include sm {
        line-height: inherit;
        font-size: 1.75rem;
    }
    nav {
        display: flex;
        flex-direction: column;
        @include sm {
            flex-direction: row;
            align-items: center;
        }
    }
}
nav.search {
    width: 100%;
}

.header-profile {
    display: flex;
    flex-direction: column;
    width: 56px;
    height: 56px;
    background: rgba(0, 0, 0, 0.7);
    padding: 9px;
    &:hover {
        cursor: default;
        .header-profile__avatar {
            background: #475166;
        }
    }
    // active state
    .show & {
        position: relative;
        background: #F7F7F7;
        z-index: 1002;
    }

    @include sm {
        margin-left: 4px;
    }
}
.header-profile__avatar {
    background: #333a4a;
    color: #fff;
    border-radius: 50%;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-profile__characters {
    font-size: 0.875rem;
}

.card {
    background-color: #fff;
    outline: none;
}

article.list {
    cursor: pointer;
}

.footer {
    z-index: 10;
    height: 30px;
    color: #333;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    font-size: 11px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: margin 0.2s ease-in-out;

    &--home {
        margin-bottom: -30px;
    }

    a {
        margin: 0 10px;
    }
}

.contentWrap, .settingsWrap, .settings-inner, .flex-row, .flex-col {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}
.settings-inner {
    flex-direction: column;
    @include md {
        flex-direction: row;
    }
}

.profile-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1010;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}

.flex-col {
    overflow-x: auto;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.content-bar {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 0px;
    z-index: 102;
}

.content-bar__dropdown-btn {
    position: relative;
    background-color: #fff;
    color: #7f7f7f;
    padding: 17px 20px;
    border-radius: 0px;
    z-index: 1001 !important;
}

.show .content-bar__dropdown-btn {
    box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.3);
}

.content-bar__menu {
    font-size: 0.94rem;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    z-index: 1002;
}

.show .content-bar__menu {
    box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.3);
    z-index: 1002;
}

.content-bar__menu--nav {
    background: #ededed;
    flex-shrink: 0;
    .icon--close-thin {
        display: none;
    }
}

.content-bar__menu--nav--open {
    background: #717b96;
    .icon--hamburger {
        display: none;
    }
    .icon--close-thin {
        display: block;
    }
}

.content-bar__menu + .dropdown-menu {
    z-index: 1001;
}
.content-bar--side-padding {
    padding: 0 10px;
    @include sm {
        padding: 0 20px;
    }
}

.side-navigation {
    width: auto;    
    overflow-y: auto;
    border-right: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    background-color: white;    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        @include md {
            flex-direction: column;
        }
        li {
            flex-grow: 1;
            display: flex;            
            @include sm {
                flex-direction: column;                
            }
        }
    }
    @include md {
        width: 220px;
    }
}
.side-navigation__btn {
    display: block;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: $body-text;
    text-transform: uppercase;
    line-height: 150%;
    text-decoration: none;
    background-color: rgba(94,169,200,0);
    padding: 16px;
    transition: background-color .2s ease-out,color .1s ease-out;
    text-align: center;
    &:hover {
        background-color: #f1f1f1;
        color: $body-text;
        text-decoration: none;
    }
    &.active {
        background-color: #f1f1f1;
        color: $main-blue;
    }
    @include sm {
        padding: 20px;
    }
    @include md {
        text-align: left;        
    }
}
.list-items-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1;
    overflow: auto;
}
.list-item {
    background-color: #ccc;
}
.list-item__preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    overflow-y: auto;
    background-color: white;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    border: none;
    z-index: 81;
    @include lg {
        width: 420px;
        border-left: 2px solid $gray-mid;
        position: static;
        z-index: auto;
    }
    form {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .tab-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .tab-pane {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        overflow-y: auto;
    }
    .nav-tabs {
        .nav-item {
            .nav-link {
                font-size: 12px;
                color: #9b9b9b;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                padding: 1rem 1.6rem;
                &.active, &.active:hover {
                    font-weight: 500;
                    color: $body-text;
                    border-color: #ddd #ddd #fff #ddd;
                }
                &:hover {
                    border-color: transparent;
                    color: $body-text;
                }
            }
            &:first-child {
                .nav-link {
                    &.active, &.active:hover {
                        border-color: #ddd #ddd #fff transparent;
                    }
                }
            }
        }
    }
    table {
        tr:first-child {
            td {
                border-top: none;
            }
        }
    }
}
.list-item__preview-header {
    padding: 20px 45px 20px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    h3 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
        line-height: 1.4;
    }
    .icon-button {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.list-item__preview-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
}
.list-item__preview-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #ddd;
    .btn {
        padding: 0.4rem 0.6rem;
        flex: 1 0 auto;
        @include sm {
            padding: 0.5rem 1rem;
            flex: 0 1 auto;
        }
        + .btn {
            margin-left: 12px;
        }
    }
    @include sm {
        padding: 20px;
    }
}

.search {
    flex-wrap: nowrap;
    flex: 1 1 0%;
    @include sm {
        flex: 1 1 auto;
    }
    @include lg {
        flex-wrap: wrap;
    }
    + .content-bar__right {
        margin-left: 0;
        @include sm {
            margin-left: 10px;
        }
    }
}

.search__form {
    flex: 0 1 auto;
    margin: 0 10px;
    form {
        flex: 1 1 auto;
    }
    input {
        background: #fff;
        &:focus {
            background: #fff;
            box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.15);
        }
    }
    @include sm {
        flex: 1 1 auto;
    }
}

.searchForm--active {
    .search__form__buttons {
        @include sm {
            display: block;
        }
        > * {
            margin: 0px 10px;
        }
    }
}

.search__input {
    color: #d5d5d5;
    font-weight: 500;
    border: 0px;
    padding: 0;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d5d5d5;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #d5d5d5;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #d5d5d5;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #d5d5d5;
    }
}

.search__form__buttons {
    display: none;
}

.search__icon {
    margin: 0 6px;
    order: 1;
    @include sm {
        margin: 0 10px;
        order: 0;
    }
}
.form-inline {
    .nav-link {
        padding: 0;
        font-size: 0.8125rem;
        @include sm {
            padding: 0.5rem 0.5rem;
        }
        @include lg {
            padding: 0.5rem 1rem;
            font-size: 1rem;
        }
        & + .nav-link {
            margin-left: 10px;
            @include sm {
                margin-left: 0;
            }
        }
    }
}
.content-bar__right {
    display: flex;
    border-left: 1px solid #ebebeb;
}

.content-bar__sort {
    font-size: 0.89rem;
    align-items: center;
    padding-left: 10px;
}

.content-bar__sort .content-bar__dropdown-btn {
    font-size: 0.89rem;
    color: #444;
    padding: 17px 20px;
}

.multi-action-bar {
    display: none;
   //justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 56px;
    padding: 0 16px;
    background-color: #d9f2fc;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 1003;
    .btn {
        + .btn {
            margin-left: 10px;
        }
    }
}

.multi-action-bar--open {
    display: flex;
    animation: dropOut 0.3s cubic-bezier(0.695, 0.105, 0.285, 1.275) 1;
}

@keyframes dropOut {
    0% {transform: translateY(-48px);}
    100% {transform: translateY(0);}
}

.multi-action-bar__count {
    font-size: 0.875rem; // 14px
    flex: 1 1 auto;
    margin-left: 20px;
    display: none;
    @include sm {
        display: block;
    }
}

.multi-action-bar__icons {
    margin-left: auto;
}

.multi-action-bar__icon {
    margin-left: 20px;
    &:hover {
        text-decoration: none;
    }
}

.content-main {
    display: flex;
    overflow-y: auto;
    flex-grow: 1;

    .row + .row {
        margin-top: 20px;        
    }
}

.search-results-info {
    font-size: 0.875rem; // 14px
    line-height: 1.4;
    display: flex;
    margin-right: 20px;
    width: 100%;
    min-height: 48px;
    @include md {
        margin-right: 40px;
        width: auto;        
    }
}

.search-results-info__num {
    font-size: 2rem; // 32px
    font-weight: 300;
    line-height: 1em;
    margin-right: 10px;
    margin-bottom: 6px;
    @include lg {
        margin-bottom: 0;
}
}

.search-results-info__text {
    color: #6e6e6e;
    b {
        color: $body-text;
    }
}

.wire-column--3 {
    opacity: 1;
    transition: opacity .2s ease-in;
    transition-delay: .1s;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
}

.wire-column__nav, .wire-column__preview {
  width: 0;
  transition: all .1s ease-out;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.wire-column__nav {
    width: 0;
    position: fixed;
    top: 168px;
    bottom: 0;
    z-index: 101;
    @include sm {
        position: static; 
    }
}

.wire-column__nav--open, .wire-column__preview--open {
    flex-shrink: 0;
}

.wire-column__nav--open {
    width: 100%;
    @include lg {
        width: 220px;
    }
    @include xl {
        width: 260px;
    }
    @include xxl {
        width: 320px;
    }
}

.wire-column__preview {
    position: fixed;
    right: 0;
    top: 56px;
    left: 100%;
    z-index: 101;
    width: 320px;
    @include lg {
        position: static;
        top: auto;       
        width: 0;
    }
}
.wire-column__preview--open {
    width: 100%;    
    right: 0;
    left: 0;
    bottom: 0;
    border: 0;
    @include lg {
        width: 340px;
        position: static;
        border-left: 2px solid #919191;
    }
    @include xl {
        width: 380px;
    }
    @include xxl {
        width: 480px;
    }
}

.wire-column__nav__items, .wire-column__preview__items {
  opacity: 0;
  transition: all .1s ease-out;
  transition-delay: 0;
  padding: 10px 20px;
}

.wire-column__nav--open .wire-column__nav__items, .wire-column__preview--open .wire-column__preview__items {
  opacity: 1;
  transition: all .1s ease-out;
  transition-delay: .2s;
}

.wire-column__nav {
    background: $nav-sidebar-bg;
}

.wire-column__nav__items {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 10px 0px 0px 0px;
    position: relative;
    .nav {
        flex: 0 0 44px;
        margin-left: 0px;
        margin-right: 0px;
        border-bottom: 1px solid $nav-sidebar-border;
    }
    .tab-content {
        display: flex;
        flex-direction: column;
        overflow: auto;

        .tab-pane {
            padding: 20px 20px 0 20px;

            #reset-filter-buffer {
                height: 80px;
            }

            #reset-filter {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 15px;
                padding: 20px 20px 0 20px;
                background: $nav-sidebar-bg;
                border-top: 1px solid $nav-sidebar-border;
                opacity: 0.8;
            }
        }
    }
    .btn {
        margin-bottom: 12px;
    }
}

.wire-column__nav__tab {
    a {
        color: #8b8f9a;
        &.active {
            color: #fff;
            border-bottom: 3px solid $main-blue;
        }

        @include lg {
            padding: .5rem .4rem;
        }
        @include xxl {
            padding: .5rem 1rem;
        }
    }
}

.wire-column__main {
    flex-grow: 1;
    flex-shrink: 1;
    width: 50%;
    overflow: auto;
    margin-left: 0px;
    transition: margin-left .1s ease-out;
}

.wire-column__main--left-margin {
    margin-left: 260px;
}

.flex-grid__item {
    background: #fff;
}

.wire-column__nav__divider {
    width: 38px;
    border-bottom: 4px dotted #5b6170;
    display: block;
    margin: 20px auto;
}

.wire-column__nav__group {
    color: #fff;
    margin-bottom: 20px;
}

.wire-column__info {
    color:#8b8f9a;
}

.wire-button__notif {
    position: absolute;
    top: -10px;
    right: -10px;
    display: block;
    color: #fff;
    background: #d50089;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 1.3rem;
}

.wire-articles {
    margin-top: 10px;
}

.wire-articles__item {
    flex-grow: 1;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 16px 25px;
    border: 4px solid transparent;
    outline: 1px solid transparent;
    transition: all .2s ease-out;
    .no-touch & {
        &:hover {
            border: 4px solid #f5f5f5;
        }
    }
}

.wire-articles__item--open {
    outline: 1px solid #00aceb;
}

.wire-articles__item--visited {    
    .wire-articles__item-headline,
    .wire-articles__item__text {
        color: $gray-mid;
    }
    .wire-articles__item__meta-info,
    .wire-articles__item__meta-info .bold {
        color: $gray-mid;
    }
    .wire-articles__item__meta-info .bold {
        font-weight: 500;
    }
    .wire-articles__item-image figure img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    .icon--gray-light {
        color: #dedede !important;
    }
    .wire-articles__item-actions {
        .btn-group {
            &:hover {
                > span > [class^="icon--"], [class*=" icon--"] {
                    color: $body-text !important;
                }
            }
        }
    }
}

.wire-articles__item.wire-articles__item--selected {
    border: 4px solid #e6f7fd;
    outline: 1px solid #00aceb;
}

.wire-articles__item-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    cursor: pointer;
    outline: none;
}

.wire-articles--list {

}

.wire-articles__item--list {
    display: flex;
    flex-direction: column;
    padding: 12px;
    @include sm {
        padding: 12px 10px 6px 15px;
    }
    @include md {
        flex-direction: row;
        padding: 12px 20px;
    }
}

// grid view 
.wire-articles--grid {

    .wire-articles__item--grid {
        display: flex;
        flex-direction: column;
        padding: 0;
        border: none;
    }
    .wire-articles__item:hover {
        border: none;
    }
    .wire-articles__item-text {
        order: 2 !important;
        padding: 16px 16px 6px;
        flex-basis: auto; // iPad fix
    }
    .wire-articles__item-image {
        order: 1 !important;
        position: relative;
        figure {
            margin: 0 !important;
            img {
                max-width: 100% !important;
                width: 100% !important;
            }
        }
        .wire-articles__item-select {
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    .wire-articles__versions__time {
        line-height: 1.2;
        font-size: 1.4rem;
    }
    .wire-articles__item-actions {
        order: 3 !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        margin: 0 10px 4px 0;
    }
    .wire-articles__versions__item {
        padding: 16px;
        align-items: flex-start;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .wire-articles__item-select {
        width: 24px;
        opacity: 1;
        margin-right: 10px;
    }
    .wire-articles__versions__name {
        margin-top: 4px;
        h5 {
            font-size: .875rem;
        }
    }
}

// compact view
.wire-articles--list-compact {
    .wire-articles__item-wrap {
        margin-bottom: 10px;
    }
    .wire-articles__item--list {
        padding: 10px;
        @include md {
            padding: 4px 10px;
        }
    }
    .wire-articles__item-text {
        flex-direction: column;       
        flex-basis: auto;
        @include md {
            flex-direction: row;
            align-items: center;
        }
    }
    .wire-articles__item-headline {
        display: flex;        
        font-size: 0.875rem; // 14px    
        margin-right: 20px;
        margin-bottom: 6px;
        label {
            margin-bottom: 0px;
        }
        @include md {
            align-items: center;
            margin-bottom: 0;
        }
    }
    .wire-articles__item__versions-btn {        
        @include md {
            margin-left: auto;
            align-self: center;
        }
    }
    .wire-articles__item-actions {
        flex-direction: row;
        align-items: center;
        > * {
            margin-bottom: 0px;
        }
        > .icon-button {
            height: 32px;
        }
        > .btn-group {
            order: 1;
        }
    }
    .wire-articles__item__icons {
        margin-right: 2px;
        @include md {
            margin-right: 6px;
        }
    }
    .wire-articles__item-select {
        margin-right: 6px;
        @include md {
            margin-right: 10px;
        }
    }
}

// one pane open (filter or preview), responsive
.wire-articles__one-side-pane {
    .wire-articles__item--list {
        flex-direction: column;
        padding: 12px;
        @include sm {
            padding: 12px 15px 6px 15px;
        }
        @include lg {
            flex-direction: row;
        }
        @include xl {
            padding: 12px 20px;
        }
    }
    .wire-articles__item-image {
        order: 1;
        figure {
            margin-left: 0px;
            margin-bottom: 20px;
            @include lg {
                margin-left: 12px;
                margin-bottom: 0px;
            }
            img {
                max-width: none;
                width: 100%;
                @include lg {
                    max-width: 160px;
                    width: auto;
                }
            }
        }
        @include lg {
            order: 0;
        }
    }
    .wire-articles__item-text {
        order: 2;
        @include lg {
            order: 0;
        }
    }
    .wire-articles__item-actions {
        order: 3;
        flex-direction: row;
        justify-content: flex-end;
        @include lg {
            order: 0;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .wire-articles__item-headline {
        @include lg {
            line-height: 1;
        }
        @include xl {
            line-height: 1.2;
        }
    }
    .icon-button {
        @include lg {
            width: 32px;
        }
        @include xl {
            width: 38px;
        }
    }
    // compact view 
    .wire-articles--list-compact {
        .wire-articles__item--list {
            padding: 4px 10px;
        }
        .wire-articles__item-actions {
            flex-direction: row;
        }
    }
}

// two panes open (filter and preview), responsive
.wire-articles__two-side-panes {
    .wire-articles__item-wrap {
        flex-grow: 1;
    }
    .wire-articles__item--list {
        flex-direction: column;
        padding: 12px 10px 6px 15px;
        @include xl {
            flex-direction: row;
        }
        @include xxl {
            padding: 12px 20px;
        }
    }
    .wire-articles__item-image {
        order: 1;
        figure {
            margin-left: 0px;
            margin-bottom: 20px;
            @include xl {
                margin-left: 12px;
                margin-bottom: 0px;
            }
            img {
                max-width: none;
                width: 100%;
                @include xl {
                    max-width: 160px;
                    width: auto;
                }
            }
        }
        @include xl {
            order: 0;
        }
    }
    .wire-articles__item-text {
        order: 2;
        flex-basis: auto;
        @include xl {
            order: 0;
        }
    }
    .wire-articles__item__text {
        font-size: 0.8125rem;
        @include xxl {
            font-size: 0.875rem;
        }
    }
    .wire-articles__item-actions {
        order: 3;
        flex-direction: row;
        justify-content: flex-end;
        @include xl {
            order: 0;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .wire-articles__item-headline {
        margin-right: 0;
        @include xl {
            line-height: 1;
        }
        @include xxl {
            line-height: 1.2;
            margin-right: 20px;
        }
    }
    .icon-button {
        width: 38px;
        @include xl {
            width: 32px;
        }
        @include xxl {
            width: 38px;
        }
    }
    .search-results-info {
        margin-right: 10px;
        @include xl {
            margin-right: 20px;
        }
        @include xxl {
            margin-right: 40px;
        }
    }
    // compact view 
    .wire-articles--list-compact {
        .wire-articles__item--list {
            padding: 4px 10px;
        }
        .wire-articles__item-actions {
            flex-direction: row;
        }
        .wire-articles__item__meta {
            margin: 0 10px;
            flex-shrink: 0;
        }
        .wire-articles__item-text {
            flex-direction: column;
            align-items: flex-start;
            @include xl {
                flex-direction: row;
                align-items: center;
            }
        }
        .wire-articles__item__versions-btn {
            margin-left: 0;
            align-self: flex-start;
            @include xl {
                margin-left: auto;
                align-self: center;
            }
        }
    }
}

.wire-articles__item-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100%; // IE fix
    order: 2;
    @include md {
        order: 0;
    }
}

.wire-articles__item-headline {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 4px;
}

.wire-articles__item-select {
    width: 24px;
    opacity: 1;
    margin-right: 10px;
    @include xl {
        width: 0;
        opacity: 0;
        margin-right: 0;
    }
    display: inline-block;
    transition: all .2s ease-out;
    img {
        opacity: 0;
        margin-top: -1px;
    }
}

.wire-articles__item:hover .wire-articles__item-select,
.wire-articles__item--selected .wire-articles__item-select {
    width: 24px;
    opacity: 1;
    margin-right: 10px;
    img {
        opacity: 1;
        transition: all .2s ease-out;
        transition-delay: 0.2s;
    }
}

.wire-articles__item-selected .wire-articles__item-select {
    width: 24px;
    opacity: 1;
    margin-right: 10px;
}

.wire-articles__item__meta {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.wire-articles__item__meta--align-top {
    align-items: flex-start;
    
    .wire-articles__item__icons {
        margin-top: 3px;
    }
}

.wire-articles__item__icons {
    display: flex;
}

.wire-articles__item__icon {
    margin-right: 7px;
}

.wire-articles__item__divider {
    height: 30px;
    border-right: 1px dotted #c4c4c4;
    margin: 0px 7px;
}

.wire-articles__item__meta-info {
    font-size: 0.8125rem;
    color: #747474;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    .bold {
        color: $body-text;
        font-weight: 500;
    }
    .blue-text {
        color: #00acec;
        cursor: pointer;
    }
    @include lg {
        line-height: 1.3;
    }
}

.wire-articles__item__text {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 5px 0 0;
    line-height: 1.3;
    p {
        margin: 0px;
    }
}

.wire-articles__item__versions-btn {
    font-size: 0.8125rem;
    color: $main-blue;
    margin-top: 4px;
}

.wire-articles__item__versions-btn--open {

}

.wire-articles__item-image {
    position: relative;
    order: 1;
    figure {
        margin-left: 0px;
        margin-bottom: 20px;
        @include md {
            margin-left: 12px;
            margin-bottom: 0px;
        }
        img {
            max-width: none;
            width: 100%;
            @include md {
                max-width: 160px;
                width: auto;
            }
        }
    }
    @include md {
        order: 0;
    }
}

.wire-articles__item-image-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.8;
}

.wire-articles__item-actions {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    order: 3;
    @include md {
        order: 0;
        flex-direction: column;
        justify-content: flex-start;
    }
    > * {
        margin-bottom: 3px;
    }
    .btn-group {
        &:hover {
            > span > [class^="icon--"], [class*=" icon--"] {
                color: $body-text;
            }
        }
    }
}

.wire-articles__item--open + .wire-articles__versions, .wire-articles__item--selected + .wire-articles__versions {
    outline: 1px solid #00aceb;
}

.wire-articles__versions {
    flex-direction: column;
    background: #fafafa;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-out;
    z-index: 0;
}


.wire-articles__versions__item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px dotted #cacaca;
    @include lg {
        padding: 5px 20px;
    }
}

.wire-articles__versions__item:last-child {
    border-bottom: 0px;
}

.wire-articles__versions__wrap {
    display: flex;
    align-items: center;
}

.wire-articles__versions__wrap > * {
    margin-right: 20px;
}

.wire-articles__versions__time {
    font-size: 1.4rem;
    color: #b6b6b6;
    font-weight: 400;
    margin-right: 10px;
    @include lg {
        font-size: 2.25rem;
        font-weight: 300;
    }
}

.wire-articles__versions__meta {

}

.wire-articles__versions__name {
    h5 {
        font-size: 0.9375rem; // 15px
        color: #707070;
        margin-bottom: 0px;
    }
}

.wire-column__preview {
    background: #fff;
}

.wire-column__preview__items {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-x: auto;
    padding: 0px;
}
.wire-column__preview__mobile-bar {
    display: flex;
    height: 56px;
    flex-shrink: 0;
    padding: 10px 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: white;
    @include lg {
        display: none;
    }
}

.wire-column__preview__top-bar {
    font-size: 0.8125rem; // 13px
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 5px 20px;
    flex-shrink: 0;
    @include xl {
        padding: 20px 10px 20px 20px;
    }
}

.wire-column__preview__date {
    color: #747474;
    line-height: 1rem;
    padding: 0 10px 15px 20px;
    font-size: .8125rem;
    @include xl {
        padding: 0 10px 20px 20px;
        font-size: 1rem;
    }
}

.wire-column__preview__buttons {
    display: flex;
}

.wire-column__preview__content {
    flex-grow: 1;
    overflow: auto;
    padding: 10px 20px;
    p {
        margin: 20px 0;
    }
    img {
        max-width: 100%;
    }
}

.wire-column__preview__slug {
    font-size: 0.875rem; // 14px
    font-weight: 500;
    color: #1d5b7d;
    display: inline-block;
    margin-bottom: 5px;
}

.wire-column__preview__headline {
    font-size: 1.5rem; // 24px
    font-weight: 700;
    line-height: 1.4;
}

.wire-column__preview__author {
    color: #626262;
    font-weight: 300;
    .bold {
        color: #222222;
        font-weight: 500;
    }
}

.wire-column__preview__image {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    img {
        width: 100%;
        height: auto;
    }
}

.wire-column__preview__image-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.8;
}

.wire-column__preview__caption {
    font-size: 0.8125rem; // 13px
    color: #7c7c7c;
    margin: 10px 20px;
}

.wire-column__preview-image-link {
    font-size: 0.8125rem;
    margin: 0px 20px;
    display: flex;
    align-items: flex-end;
    @include lg {        
        margin: 10px 20px;
    }
}
.wire-column__preview-image-link .logo {
    display: inline-block;
    width: 74px;
    height: 16px;
    background: transparent url(/static/logo-aap-photos.png) 0 0 no-repeat;
    padding: 2px 0;
    @media only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
            background: transparent url(/static/logo-aap-photos-x2.png) 0 0 no-repeat;
            background-size: 74px 16px;
    }
}

.wire-column__preview-image-link a {
    margin: 0 8px;
}

.wire-column__preview__lead, .wire-column__preview__text {
    font-size: 0.9375rem; // 15px
    color: #222222;
    line-height: 1.55;
}

.wire-column__preview__text {
    color: #444444;
    font-weight: 300;
}

.wire-column__preview__tags {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px dotted #cacaca;
    margin-top: 0;
    padding-top: 3px;
}

.column__preview__tags__column {

}

.column__preview__tags__box-headline {
    font-size: 0.875rem;
    color: #222222;
    font-weight: 700;
    margin-bottom: 5px;
}

.column__preview__tags__column__headline {

}

.wire-column__preview__tags__headline {
    font-size: 0.6875rem; // 11px
    color: #4D4D4D;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-bottom: 5px;
    display: block;
}

.wire-column__preview__tag {
    font-size: 0.8125rem; // 13px
    background: #EDEDED;
    color: #444444;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 2px;
    margin-right: 10px;
    &:hover {
        color: #444444;
        background: #e2e1e1;
        text-decoration: none;
    }
}

.wire-column__preview__versions {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.wire-column__preview__versions__box-headline {
    font-size: 0.875rem; // 14px
    color: #222222;
    font-weight: 700;
    margin-bottom: 5px;
}

.wire-column__preview__versions__item {
    align-items: center;
    padding: 10px 0px;
    border-top: 1px dotted #cacaca;
    cursor: pointer;
}

.wire-column__preview__versions__wrap {
    display: flex;
    align-items: center;
}

.wire-column__preview__versions__time {
    font-size: 2.25rem;
    color: #b6b6b6;
    font-weight: 300;
    line-height: 36px;
    margin-right: 15px;
}

.wire-column__preview__versions__meta {
    font-size: 0.8125rem;
    color: #747474;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    .bold {
        color: #444;
        font-weight: 700;
    }
}

.wire-column__preview__item__meta-info {
    display: flex;
    flex-direction: column;
}

.wire-column__preview__versions__name {

}

.wire-column__preview__versions__headline {
    font-size: 0.875rem; // 14px
    color: #707070;
    line-height: 1.3;
    margin-top: 5px;
    margin-bottom: 0px;
}

.content--item-detail {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

.content--item-detail .content-header {

}

.content--item-detail .wire-column__preview__buttons {
    margin-right: 15px;
}

.content--item-detail .wire-column__preview__content {
    max-width: 980px;
    width: 100%;
    padding: 0px 20px;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    flex: 1;
    align-self: center;
    overflow: initial;
    @include lg {
        padding: 0 30px;
    }
}

.content--item-detail .wire-column__preview__headline {
    line-height: 1.2;
    @include lg {
        line-height: 1.4;
    }
}

.content--item-detail .wire-column__preview__image {
    margin-bottom: 0;
    overflow: hidden;
    > span {
        display: block;
        background-color: #2d2d2d;
    }
    img {
        display: block;
        width: auto;
        max-height: 500px;
        margin: 0 auto;
    }
    @include lg {
        margin-left: -30px;
        margin-right: -30px;
    }
}

.content--item-detail .wire-column__preview__caption {
    @include lg {
        float: left;
        margin: 10px 30px;
    }
}

.content--item-detail .wire-column__preview-image-link {
    @include lg {
        float: right;
        margin: 10px 30px;
    }
}

.wire-column__preview__content--item-detal-wrap {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wire-column__preview__content--item-detail-text-wrap {
    display: flex;
    flex-direction: column;
    margin: 30px 0 20px 0;
    @include lg {
        flex-direction: row;
    }
}

.wire-column__preview__content--item-detail-item-text {
    order: 2;
    flex: 1 1 100%;
    overflow: auto;
    @include lg {
        margin: 0px 40px 0px 10px;
    }
}

.content--item-detail .wire-column__preview__lead, .content--item-detail .wire-column__preview__text {
    font-size: 1rem; // 16px
}

.content--item-detail .wire-column__preview__headline {
    font-size: 2.125rem; // 34px
}

.content--item-detail .wire-articles__item__meta {
    order: 1;
    flex-direction: row;
    @include lg {
        flex-direction: column;
        flex: 1 0 110px;
        align-items: flex-start;
        padding-top: 6px;
    }
}
.content--item-detail .wire-articles__item__meta-info {
    margin-top: 10px;
}

.wire-column__preview__content--item-detail-info-wrap {
    order: 3;
    flex: 1 0 auto;
    margin-bottom: 20px;
    @include lg {
        flex: 1 0 260px;
        margin-bottom: 0;
    }
}

.content--item-detail .wire-column__preview__tags {
    border-top: 0px;
    margin-top: 0px;
    flex-direction: column;
}

.content--item-detail .column__preview__tags__column {
    border-top: 1px dotted #cacaca;
    padding: 10px 0px;
}

.profileWrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #fff;
    overflow-y: auto;
    @include md {
        flex-direction: row;
    }
}

.profile-side-navigation {
    width: auto;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
    background: $nav-sidebar-bg;
    display: flex;
    flex-direction: column;
    @include md {
        width: 300px;
        display: block;
        padding: 30px 40px;
    }
}

.profile__group {
    text-align: center;
    margin-bottom: 16px;
    margin-right: 30px;
    min-width: 140px;
    display: flex;    
    @include md {
        display: block;
        margin-right: 0;
        margin-bottom: 40px;
        min-width: auto;
    }
}

.profile__avatar.initials {
    width: 10%;
    min-width: 60px;
    max-width: 128px;
    margin: 0 auto;
    border-radius: 100%;
    background: #e9ecf3;
    color: #3e4658;
    border: 2px solid #c5cad6;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
        content: "";
        display: table;
        padding-bottom: 100%;
    }
    @include md {
        width: 100%;
        margin: 0 auto 20px auto;
    }
}

.profile__characters {
    font-size: 2.125rem; // 34px
}

.profile__name-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    @include md {
        align-items: stretch;
        margin-left: 0;
    }
}

.profile__name {
    font-size: 1rem; // 16px
    margin-bottom: 2px;
}

.profile__info {
    font-size: 0.8125rem; // 13px
    color: $gray-mid;
}

.profile__group.profile__group--dark-bck {
    .profile__avatar.initials {
        border: 2px solid #8b8f9a;
        background: #333a4a;
        color: #fff;
    }
    .profile__name {
        color: #fff;
    }
    .profile__info {
        color: #9296a0;
    }
}

.profile-side-navigation__items {
    display: flex;
    @include md {
        display: block;
    }
    .btn-block {
        padding: 0.2rem 0.4rem;
        line-height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & + .btn-block {
            margin-top: 0;
            margin-left: 10px;
        }
        @include md {
            & + .btn-block {
                margin-top: 0.625rem;
                margin-left: 0;
            }
            padding: 0.5rem 1rem;
            line-height: 1.2rem;
        }
    }
}

.profile-nav {

}

.profile-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    > .row {
        display: flex;
        align-content: flex-start;
        overflow: auto;
    }
}

.profile-content__footer {
    display: flex;
    flex-shrink: 0;
    padding: 15px 0px;
    > input + input {
        margin-left: 20px;
    }
    .btn {
        padding: 0.4rem 0.6rem;
        flex-grow: 1;
        @include md {
            padding: 0.5rem 1rem;
            flex-grow: 0;
        }
    }
}

.profile__mobile-close {
    position: fixed;
    top: 6px;
    right: 4px;
    width: 38px;
    height: 38px;
}

.modal-forgot-password {
    font-size: 0.875rem; // 14px
    margin-top: 4px;
    float: right;
}

.simple-card-wrap {
    margin-bottom: 20px;
}

.simple-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 6px 15px 10px 15px;
    border: 4px solid transparent;
    outline: 1px solid transparent;
    transition: all .2s ease-out;
    &:hover {
        border: 4px solid #f5f5f5;
        outline: 1px solid #c6c6c6;
    }
    p {
        font-size: 14px;
        margin-bottom: auto;
    }
    @include md {
        padding: 10px 25px 16px 25px;
    }
}

.simple-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simple-card__headline {
    flex: 1 1 auto;
    color: #5f94a7;
    font-weight: 700;
    margin: 8px 0px;
    padding-right: 15px;
}

.simple-card__icons {
    display: flex;
    flex: 0 0 auto;
    max-width: 0px;
    overflow: hidden;
    transition: max-width 0.2s;
    > .icon-button {
        opacity: 0;
    }
}

.simple-card .simple-card__icons {
    max-width: 400px;
    padding-left: 15px;
    > .icon-button {
        opacity: 1;
        transition: opacity 0.2s;
        transition-delay: 0.2s;
    }
}

.simple-card__header-with-icons {
    .simple-card__headline {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.simple-card__date {
    font-size: 0.8125rem;
    margin-top: 10px;
    span {
        color: #747474;
    }
}

.button__reset-styles {
    background: transparent;
    border: none;
    padding: 0px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.button-pill {
    font-size: 0.75rem; // 12px
    background: #f3f3f3;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 10rem;
    border: none;
    &:hover {
        background: #e2e2e2;
    }
}

.modal, .modal-backdrop {
    position: absolute;
}

// home event
.date-round {
    width: 100%;
    min-width: 110px;
    max-width: 180px;
    margin: 0 auto;
    border-radius: 100%;
    background: #f1f1f1;
    color: $gray-mid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    &:after {
        content: "";
        display: table;
        padding-bottom: 100%;
    }
    @include sm {
        max-width: 180px;
    }
}
.date-round__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date-round__number {
    font-size: 48px;
    font-weight: 300;
    color: #7ed321;
    line-height: 1.1;
    letter-spacing: -.1rem;
}
.date-round__number--small {
    font-size: 14px;
    font-weight: 500;
    color: #7ed321;
}
.date-round__month {
    font-size: 13px;
    font-weight: 500;
}
.date-round__month--big {
    font-size: 18px;
}
.date-round__day {
    font-size: 11px;
    text-transform: uppercase;
}

.toggle-background.react-toggle--checked .react-toggle-track {
  background-color: $main-blue !important;
}
.react-toggle-track {
    width: 42px !important;
    height: 22px !important;
    background-color: #cccccc !important;
}
.react-toggle-thumb {
    width: 18px !important;
    height: 18px !important;
    border: none !important;
    top: 2px !important;
    left: 2px !important;
}
.react-toggle--checked .react-toggle-thumb {
    left: 22px !important;
    border-color: none !important;
}
// End Wire BEM classes
