@import './breakpoints';

.wire-item {
    .wire-articles__item-actions {
        .btn-group {
            order: 3;
        }

        .icon--share {
            order: 1;
        }

        .icon--bookmark-add, .icon--bookmark-remove {
            order: 2;
        }

        @include md {
            .btn-group, .icon--share, .icon--bookmark-add, .icon--bookmark-remove {
                order: unset;
            }
        }
    }
}

.item--deleted {
    cursor: not-allowed !important;

    .icon--info {
        position: relative;
        display: inline-block;
        top: -1px;
        width: 24px;
        height: 24px;
        margin: 0;
        vertical-align: middle;
        z-index: 90;
        transition: background 200ms ease;
        font-size: 24px;
    }
}
