{% extends "email_layout.html" %}
{% block content %}

<p>A Local Journalism Initiative {{app_name}} account has been created for you.</p>
<p>In order to access your account, please use the link <a href="{{url}}">{{url}}</a> to reset your password.</p>
<p>This link will expire after {{expires}} hours. </p>
<p>If you believe the Local Journalism Initiative {{app_name}} account was created in error, please ignore this email.</p>

<p></p>

<p>Un compte Initiative de journalisme local {{app_name}} a été créé pour vous.</p>
<p>Pour accéder à votre compte, veuillez utiliser le lien <a href="{{url}}?language=fr_CA">{{url}}</a> pour réinitialiser votre mot de passe.</p>
<p>Ce lien expirera après {{expires}} heures.</p>
<p>Si vous pensez que le compte {{app_name}} de Initiative de journalisme local a été créé par erreur, veuillez ignorer ce courriel.</p>


{% endblock %}
