<footer class="footer" id="footer">
    <div>
        <img src="{{ url_for('theme', filename = 'lji-logo-footer.svg') }}" class="d-none d-lg-block mr-3" />
    </div>
    <div>
        {% if config.PRIVACY_POLICY %}<a href="{{ config.PRIVACY_POLICY }}" target="_blank">{{ gettext('Privacy Policy') }}</a>{% endif %}
        {% if config.TERMS_AND_CONDITIONS %}<a href="{{ config.TERMS_AND_CONDITIONS }}" target="_blank">{{ gettext('Terms and Conditions') }}</a>{% endif %}
        {% if config.CONTACT_ADDRESS %}<a href="{{ config.CONTACT_ADDRESS }}" target="_blank">{{ gettext('Contact Us') }}</a>{% endif %}
        {% if config.SHOW_COPYRIGHT %}<a href="{{ url_for('public.copyright') }}" target="_blank">{{ gettext('Copyright') }}</a>{% endif %}
    </div>
</footer>
