{% extends "email_layout.html" %}

{% block content %}


<p>We recently received a Local Journalism Initiative password reset request for the email address {{email}}.</p>
<p>If this request was made by you, and you still need to reset your password, please use the link <a href="{{url}}">{{url}}</a> to reset your password.</p>
<p>The password reset link will expire after {{expires}} hours.</p>
<p>If you did not send us a request, or no longer need to reset your password, please ignore this email.</p>
<p></p>
<p>Nous avons récemment reçu une demande de réinitialisation du mot de passe de Initiative de journalisme local pour l'adresse courriel {{email}}.</p>
<p>Si vous avez fait cette demande et que vous devez toujours réinitialiser votre mot de passe, veuillez utiliser le lien <a href="{{url}}?language=fr_CA">{{url}}</a> pour réinitialiser votre mot de passe.</p>
<p>Le lien de réinitialisation du mot de passe expirera après {{expires}} heures.</p>
<p>Si vous ne nous avez pas envoyé de demande ou si vous n'avez plus besoin de réinitialiser votre mot de passe, veuillez ignorer ce courriel.</p>


{% endblock %}
