{% extends "layout.html" %}

{% block content %}

<div class="container py-6">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">News Centre sign up / Inscription au Centre de nouvelles</h3>
                        </div>
                        <div class="card-body">
                            <p>Thank you for your interest in the Local Journalism Initiative.</p>
                            <p>Your sign-up request has been sent to the Supervising Editor. On weekdays, accounts will be created within 24 hours.</p>
                            <p><strong>IMPORTANT:</strong> Canadian media organizations that create original news content may republish LJI content at no cost, provided it is credited properly and all terms and conditions published on the LJI News Centre are met. Republished stories must credit: The reporter, the Local Journalism Initiative and the reporter’s host media outlet. For more details, see link below.
</p>
                            <a class="btn btn-primary" target="_blank" href="https://lji-ijl.ca/support">LEARN MORE</a>
                        </div>
                        <div class="card-body">
                            <p>Merci de votre intérêt envers l’Initiative de journalisme local.</p>
                            <p>Votre requête a été acheminée au Chef de la rédaction. Les jours ouvrables, votre compte sera créé dans un délai de 24 heures.</p>
                            <p><strong>IMPORTANT:</strong> Tout média canadien qui crée du contenu original peut republier gratuitement les contenus de l’IJL, à condition d’en créditer la source selon les critères énoncés par l’IJL. Les contenus reproduits doivent comporter : la signature du journaliste, la mention « Initiative de journalisme local » et le média d’origine.
</p>
                            <a class="btn btn-primary" target="_blank" href="https://lji-ijl.ca/support">PLUS D’INFOS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
