@import '../../styles/breakpoints';

.user-profile__app--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    background-color: black;
}

.my-topics__form-params {
    margin-top: 1rem;
}
